<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script  th:inline="javascript">

    </script>
</head>

<body style="overflow: hidden">
     <form class="form-horizontal" id="validation-form" role="form">
           <div class="row" style="margin:auto">
                <div class="col-xs-12 col-sm-4" style="border:1px solid #CCC;padding:10px;width:100%">
                    <div style="width: 80%;height:100%;padding-left:200px;float: left">
                        <div class="form-group">
                            <div style="float: left;padding-left: 10px">
                                <label> 收款原由： </label>
                                <input type="text" style="width:360px" id="origin" name="origin"
                                       th:value="${item.origin}"
                                                       placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="float: left;padding-left: 10px">
                                <label class="col-sm-4 control-label no-padding-right" style="width:70px;padding-left:0px"> 购粮单位：</label>
                                <div class="col-sm-4" style="width:380px;padding-left:0px">
                                    <select id="traderid" name="traderid" class="form-control" th:value="${item.traderid}">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr style="margin-bottom:5px;margin-top:15px"/>
                        <div class="form-group">
                            <div style="float: left;padding-left: 10px">
                                <label class="col-sm-4 control-label no-padding-right" style="width:56px;padding-left:0px"> 仓房号： </label>
                                <div class="col-sm-4" style="width:150px;padding-left:0px">
                                    <select id="storageid" name="storageid" class="form-control" th:value="${item.storageid}">
                                    </select>
                                </div>
                            </div>
                            <div style="float: left;padding-left: 10px">
                                <label class="col-sm-4 control-label no-padding-right" style="width:70px;padding-left:0px"> 粮食品种：</label>
                                <div class="col-sm-4" style="width:120px;padding-left:0px">
                                    <select id="grainid" name="grainid" class="form-control" th:value="${item.grainid}">
                                    </select>
                                </div>
                            </div>
                            <div style="float: left;padding-left: 10px">
                                <label class="col-sm-4 control-label no-padding-right" style="width:70px;padding-left:0px"> 粮食性质：</label>
                                <div class="col-sm-4" style="width:170px;padding-left:0px">
                                    <select id="grainattrid" name="grainattrid" class="form-control" th:value="${item.grainattrid}">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="float: left;padding-left: 10px">
                                <label> 可发货数量： </label>
                                <input type="text" id="grainqty" name="grainqty" style="width:90px"
                                       placeholder=""/>
                            </div>
                            <div style="float: left;padding-left: 10px">
                                <label> 收获年度： </label>
                                <input type="text" id="producingyear" name="producingyear" style="width:50px"
                                       th:value="${item.producingyear}"
                                       placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="float: left;padding-left: 10px">
                                <label class="col-sm-4 control-label no-padding-right" style="width:70px;padding-left:0px"> 结算方式：</label>
                                <div class="col-sm-4" style="width:120px;padding-left:0px">
                                    <select id="settleid" name="settleid" class="form-control" th:value="${item.settleid}">
                                    </select>
                                </div>
                            </div>
                            <div style="float: left;padding-left: 10px">
                                <label> 票号： </label>
                                <input type="text" id="checkno" name="checkno" style="width:130px"
                                       th:value="${item.checkno}"
                                       placeholder=""/>
                            </div>
                            <div style="float: left;padding-left: 10px">
                                <label class="col-sm-4 control-label no-padding-right" style="width:70px;padding-left:0px"> 收款账户：</label>
                                <div class="col-sm-4" style="width:200px;padding-left:0px">
                                    <select id="accid" name="accid" class="form-control" th:value="${item.accid}">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="float: left;padding-left: 10px">
                                <label> 数量： </label>
                                <input type="text" id="quantity" name="quantity" style="width:90px"
                                       th:value="${item.quantity}"
                                       placeholder=""/>吨
                            </div>
                            <div style="float: left;padding-left: 10px">
                                <label> 单价： </label>
                                <input type="text" id="price" name="price" style="width:70px"
                                       th:value="${item.price}"
                                       placeholder=""/>元/吨
                            </div>
                            <div style="float: left;padding-left: 10px">
                                <label> 人力费： </label>
                                <input type="text" id="manpowercose" name="manpowercose" style="width:50px"
                                       th:value="${item.manpowercose}"
                                       placeholder=""/>元/吨
                            </div>
                            <div style="float: left;padding-left: 10px">
                                <label> 收款金额： </label>
                                <input type="text" id="amount" name="amount" style="width:98px"
                                       th:value="${item.amount}"
                                       placeholder=""/>元
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="float: left;padding-left: 10px">
                                <label> 备注： </label>
                                <input type="text" id="remark" name="remark" style="width:300px"
                                       th:value="${item.remark}"
                                       placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="float: left;padding-left: 10px">
                                <label class="col-sm-4 control-label no-padding-right" style="width:56px;padding-left:0px"> 合同号：</label>
                                <div class="col-sm-4" style="width:150px;padding-left:0px">
                                    <select id="contractid" name="contractid" class="form-control" th:value="${item.contractid}">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="float: left;padding-left: 10px">
                                <label> 预收款余额： </label>
                                <input type="text" id="prerecebala" name="prerecebala" style="width:110px"
                                       placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           <div style="display: none">
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="groupid">
                       集团:
                   </label> <div class="col-sm-4">
                   <input type="text" name="groupid" id="groupid" class="form-control"
                          th:value="${item.groupid}"
                          placeholder="集团"/>
               </div>
               </div>
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="companyid">
                       企业:
                   </label> <div class="col-sm-4">
                   <input type="text" name="companyid" id="companyid" class="form-control"
                          th:value="${item.companyid}"
                          placeholder="企业"/>
               </div>
               </div>
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="graindepotid">
                       粮库:
                   </label> <div class="col-sm-4">
                   <input type="text" name="graindepotid" id="graindepotid" class="form-control"
                          th:value="${item.graindepotid}"
                          placeholder="粮库"/>
               </div>
               </div>
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="billcode">
                       单据号:
                   </label> <div class="col-sm-4">
                   <input type="text" name="billcode" id="billcode" class="form-control"
                          th:value="${item.billcode}"
                          placeholder="单据号"/>
               </div>
               </div>
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="billdate">
                       单据日期:
                   </label> <div class="col-sm-4">
                   <input size="16" type="text" name="billdate" id="billdate"
                          th:value="${item.billdate}"
                          readonly class="form_date form-control"></div>
               </div>
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="billstate">
                       单据状态（0：编辑，1：已审核，-1：已作废）:
                   </label> <div class="col-sm-4">
                   <select id="billstate" name="billstate" class="form-control"style="height:34px"
                           th:value="${item.billstate}">
                   </select>
               </div>
               </div>
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="createuserid">
                       创建人:
                   </label> <div class="col-sm-4">
                   <input type="text" name="createuserid" id="createuserid" class="form-control"
                          th:value="${item.createuserid}"
                          placeholder="创建人"/>
               </div>
               </div>
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="createtimestr">
                       创建时间:
                   </label> <div class="col-sm-4">
                   <input size="16" type="text" name="createtimestr" id="createtimestr"
                          th:value="${item.createtimestr}"
                          readonly class="form_date form-control"></div>
               </div>
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="spuserid">
                       审批人:
                   </label> <div class="col-sm-4">
                   <input type="text" name="spuserid" id="spuserid" class="form-control"
                          th:value="${item.spuserid}"
                          placeholder="审批人"/>
               </div>
               </div>
               <div class="form-group">
                   <label class="col-sm-4 control-label no-padding-right" for="sptimestr">
                       审批时间:
                   </label> <div class="col-sm-4">
                   <input size="16" type="text" name="sptimestr" id="sptimestr"
                          th:value="${item.sptimestr}"
                          readonly class="form_date form-control"></div>
               </div>
           </div>
     </form>
<!-- /.main-container -->

<script  th:inline="javascript">
    var g_item = [[${item}]];
    var param={};
    var g_keyid = [[${id}]];
    jQuery(function ($) {
        initTrader();
        $("#traderid").bootstrapSelect("setValue", g_item.traderid);
        initStorage();
        $("#storageid").bootstrapSelect("setValue", g_item.storageid);
        initGrain();
        $("#grainid").bootstrapSelect("setValue", g_item.grainid);
        initGrainattr();
        $("#grainattrid").bootstrapSelect("setValue", g_item.grainattrid);
        comm_initSettle();
        $("#settleid").bootstrapSelect("setValue", g_item.settleid);
        comm_initContract(param);
        $("#contractid").bootstrapSelect("setValue", g_item.contractid);
        comm_initAccount(param);
        $("#accid").bootstrapSelect("setValue", g_item.accid);
    });
    function initTrader() {
        $("#traderid").bootstrapSelect({
            url: '/graindepot-base/selector/traderList',
            type: 'GET',
            valueField: 'traderid',
            textField: 'tradername',
            onSelect: function (traderid,row) {
                if(row){
                    param.traderid=traderid;
                }else{
                    delete param["traderid"];
                }
            }
        })
    }
    function initStorage() {
        $("#storageid").bootstrapSelect({
            url: '/graindepot-base/selector/storageList',
            type: 'GET',
            valueField: 'storageid',
            textField: 'storagename',
            onSelect: function (storageid, row) {
                if (row) {
                    param.storageid=row.storageid;
                }else{
                    delete param["storageid"];
                }
            }
        });
    }
    function initGrain() {
        $("#grainid").bootstrapSelect({
            url: '/graindepot-base/selector/grainList',
            type: 'GET',
            valueField: 'grainid',
            textField: 'grainname',
            onSelect:function(value){
               if(value>=3&& value<=6){
                   $("#gqitem1").css("display","block");
                   $("#gqitem2").css("display","none");
               }else{
                   $("#gqitem1").css("display","none");
                   $("#gqitem2").css("display","block");
               }
            }
        });
    }
    function initGrainattr() {
        $("#grainattrid").bootstrapSelect({
            url:  '/graindepot-base/selector/grainattrList',
            type: 'GET',
            valueField: 'grainattrid',
            textField: 'grainattrname'
        });
    }
    function toBack() {
        parent.$.bootstrapBox.dialog.close();
    }
    function toSave() {
        $("#validation-form").bootstrapValidator('validate');//提交验证
        if ($("#validation-form").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
            var param = turnArrayToJson($('form').serializeArray());
            if (g_keyid) {
                param.keyid = g_keyid
            }
            $.post("/graindepot-inout/prerece/edit", param, function (result) {
                parent.toSave(result)
            })


        }
    }
</script>
</body>
</html>