<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
</head>
<body>
<div class="main-container" id="main-container">
    <!--<div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li th:if="${inoutflag==1}">
                <i class="icon-table home-icon"></i>
                入库单据列表
            </li>
            <li th:if="${inoutflag==-1}">
                <i class="icon-table home-icon"></i>
                出库单据列表
            </li>
        </ul>
    </div>-->
    <div style="margin-top: 4px;margin-bottom: 4px">
        <div class="col-sm-10">

            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">单据日期:</span>
                    <input size="16" type="text" name="billdate" id="billdate"
                           readonly class="form_date form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">单据流水号:</span>
                    <input type="text" id="billcode" name="billcode"
                           class="form-control" placeholder=""/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">售粮人:</span>
                    <input type="text" id="sellmanname" name="sellmanname"
                           class="form-control" placeholder=""/>
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-sm btn-success" onclick="searchTable()">
                    <i class="icon-search align-top bigger-125"></i>
                    查询
                </button>
                <button class="btn btn-sm btn-warning" onclick="rest()">
                    <i class="icon-undo align-top bigger-125"></i>
                    重置
                </button>
            </div>

        </div>


    </div>


    <div class="table-responsive" style="width:100%" th:if="${inoutflag==1}">
        <table id="myTable" style="width:100%" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="center" style="width: 2%"></th>
                <th class="center" style="width: 2%">
                    <label>
                        <input id="CK" type="checkbox" class="ace"/>
                        <span class="lbl"></span>
                    </label>
                </th>
                <th style="width: 6%">单据日期</th>
                <th style="width: 9%">单据流水号</th>
                <th style="width: 5%">售粮人</th>
                <th style="width: 5%">售粮人电话</th>
                <th style="width: 5%">车船号</th>
                <th style="width: 5%">绑卡状态</th>
                <th style="width: 5%">当前阶段</th>
                <th style="width: 5%">登记情况</th>
                <th style="width: 5%">扦样情况</th>
                <th style="width: 5%">检验情况</th>
                <th style="width: 5%">称毛重情况</th>
                <th style="width: 5%">值仓情况</th>
                <th style="width: 5%">称皮重情况</th>
                <th style="width: 5%">结算情况</th>
                <th style="width: 5%">是否已退卡</th>
                <th style="width: 6%">单据类型</th>
                <!-- <th style="width: 10%">更新时间</th>
                 <th style="width: 10%">创建时间</th>-->
                <th style="width: 3%">操作</th>
            </tr>
            </thead>
        </table>

    </div>

    <div class="table-responsive" style="width:100%" th:if="${inoutflag==-1}">
        <table id="myTable" style="width:100%" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="center" style="width: 2%"></th>
                <th class="center" style="width: 2%">
                    <label>
                        <input id="CK" type="checkbox" class="ace"/>
                        <span class="lbl"></span>
                    </label>
                </th>
                <th style="width: 6%">单据日期</th>
                <th style="width: 9%">单据流水号</th>
                <th style="width: 15%">售粮单位</th>
                <th style="width: 5%">售粮人</th>
                <th style="width: 5%">售粮人电话</th>
                <th style="width: 5%">车船号</th>
                <th style="width: 5%">绑卡状态</th>
                <th style="width: 5%">当前阶段</th>
                <th style="width: 5%">登记情况</th>
               <!-- <th style="width: 5%">扦样情况</th>
                <th style="width: 5%">检验情况</th>-->
                <th style="width: 5%">称毛重情况</th>
                <!--<th style="width: 5%">值仓情况</th>-->
                <th style="width: 5%">称皮重情况</th>
                <th style="width: 5%">结算情况</th>
                <th style="width: 5%">是否已退卡</th>
                <th style="width: 6%">单据类型</th>
                <!-- <th style="width: 10%">更新时间</th>
                 <th style="width: 10%">创建时间</th>-->
                <th style="width: 3%">操作</th>
            </tr>
            </thead>
        </table>

    </div>


    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
</body>
</html>
<script th:inline="javascript">
    var urlPrefix = "/graindepot-inout";
    var theTable;
    var g_inoutflag = [[${inoutflag}]];
    var g_type = [[${type}]];//1:从登记页跳转 2:从检验 3:称毛重或者称皮重 4:结算 5:补单
    $(document).ready(function () {
        $(".form_date").bootstrapDate();
        $(".form_date").bootstrapDate("setValue", new Date());
        var param={
            billdate:$("#billdate").bootstrapDate("getValue"),
            inoutflag:g_inoutflag,
            billtype:g_type==5?2:1
        };
        query(param);

    });


    function query(param) {
        var columns=[];
        if (g_inoutflag==1){
            columns=[
                {data: "billdatestr"},
                {data: "billcode"},
                {data: "sellmanname"},
                {data: "sellmanphone"},
                {data: "trucknum"},
                {data: "regstatestr"},
                {data: "billstagestr"},
                {
                    data: "billid",
                    render: function (data, type, row) {
                        return '<span class="label label-sm label-success">已登记</span>';
                    }
                },
                {
                    data: "samplingstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已扦样</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未扦样</span>';
                        }

                    }
                },
                {
                    data: "inspectstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已检验</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未检验</span>';
                        }

                    }
                },
                {
                    data: "gwstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已称毛重</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未称毛重</span>';
                        }

                    }
                },
                {
                    data: "valuebinstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">值仓完成</span>';
                        } else if (data == 2) {
                            return '<span class="label label-sm label-warning">值仓中</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未值仓</span>';

                        }

                    }
                },
                {
                    data: "tarestate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已称皮重</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未称皮重</span>';
                        }

                    }
                },
                {
                    data: "paidstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已结算</span>';
                        } else if (data == 2) {
                            return '<span class="label label-sm label-warning">结算部分</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未结算</span>';
                        }

                    }
                },
                {data: "backicflagstr"},
                {
                    data: "billtype",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '正常单据';
                        } else if (data == 2) {
                            return '补单';
                        } else if (data == 0){
                            return '期初库存单';
                        }

                    }
                },
                {
                    data: "billid",
                    render: function (data, type, row) {
                        return '<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">' +
                            '<a class="green" href="javascript:toChoose(' + data + ')"' +
                            ' title="选择" ' +
                            '>' +
                            '<i class="icon-hand-up bigger-130"></i>' +
                            '</a>' +
                            '</div>';

                    }
                }]
        }
        if (g_inoutflag == -1) {
            columns=[
                {data: "billdatestr"},
                {data: "billcode"},
                {data: "tradername"},
                {data: "sellmanname"},
                {data: "sellmanphone"},
                {data: "trucknum"},
                {data: "regstatestr"},
                {data: "billstagestr"},
                {
                    data: "billid",
                    render: function (data, type, row) {
                        return '<span class="label label-sm label-success">已登记</span>';
                    }
                },
                {
                    data: "gwstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已称毛重</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未称毛重</span>';
                        }

                    }
                },
                {
                    data: "tarestate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已称皮重</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未称皮重</span>';
                        }

                    }
                },
                {
                    data: "paidstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已结算</span>';
                        } else if (data == 2) {
                            return '<span class="label label-sm label-warning">结算部分</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未结算</span>';
                        }

                    }
                },
                {data: "backicflagstr"},
                {
                    data: "billtype",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '正常单据';
                        } else if (data == 2) {
                            return '补单';
                        } else if (data == 0){
                            return '期初库存单';
                        }

                    }
                },
                {
                    data: "billid",
                    render: function (data, type, row) {
                        return '<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">' +
                            '<a class="green" href="javascript:toChoose(' + data + ')"' +
                            ' title="选择" ' +
                            '>' +
                            '<i class="icon-hand-up bigger-130"></i>' +
                            '</a>' +
                            '</div>';

                    }
                }]
        }


        theTable = $('#myTable').bootstrapTable({
            //数据来源（包括处理分页，排序，过滤） ，即url，action，接口，等等
            ajax: {
                url: urlPrefix + "/inout/list/page",
                data: param,
                type: "GET"
            },
            //sScrollY: 510,//表格高度
            columns: columns
        });
    }

    //登记流水号自动显示
    function billcodeAutoComplete() {
        $("#billcode").typeahead({
            source: function (query, process) {
                return $.ajax({
                    url: '/graindepot-inout/inspect/inout/byBillcode',
                    type: 'post',
                    data: {billcode: query, billdate: $('#billdate').bootstrapDate('getValue')},
                    success: function (result) {
                        //默认筛选name字段的值
                        return process(result);
                    }
                })
            },//数据源
            items: 8,//最多显示个数
            fitToElement: true,
            updater: function (item) {
                return item;//选中后获得的数据
            },
            afterSelect: function (item) {
                //选择项之后的事件 ，item是当前选中的。
                //console.log(item);
                //initInoutInsp(item);
            },
            delay: 500//延迟时间
        });
    }

    function searchTable() {
        theTable.destroy();
        query(getParam());
    }

    function getParam() {
        var param = {
            billdate:$("#billdate").bootstrapDate("getValue"),
            inoutflag:g_inoutflag,
            billtype:g_type==5?2:1,
            billcode:$("#billcode").val(),
            sellmanname:$("#sellmanname").val()

        };
        return param
    }

    function rest() {
        $("input").val("");
        $("select").val("");
        $(".form_date").bootstrapDate("setValue", new Date());
        //触发change事件
        $("select").trigger("change");
        searchTable();
        //$("#city").find("option[value = '"+"']").attr("selected","selected");//jq改变select的选中值

    }

    function toChoose(billid) {
        if (g_type==1){
            parent.doFindInout(billid,2)
        } else if(g_type==2){
            parent.doFindInoutInsp(billid,2)
        }else if(g_type==3){
            parent.doFindWeightInout(billid,2,1)
        }else if (g_type == 4) {
            parent.doFindSettlementInout(billid,2)
        }else if (g_type == 5) {
            parent.doFindInoutInsupple(billid,2)
        }
        parent.$.bootstrapBox.dialog.close();
    }




</script>
