<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
</head>
<body>
<div class="main-container" id="main-container">
    <div class="timeline-container timeline-style2">
        <span class="timeline-label">
            <b id="billdate">Today</b>
        </span>
        <div class="timeline-item clearfix">
            <div class="timeline-info">
                <span class="timeline-date">17:50</span>
                <i class="timeline-indicator btn btn-info"></i>
            </div>
            <div class="widget-box transparent">
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        完成
                        <span class="label label-sm label-success">扦样检验</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item clearfix">
            <div class="timeline-info">
                <span class="timeline-date">15:50</span>

                <i class="timeline-indicator btn btn-info no-hover"></i>
            </div>

            <div class="widget-box transparent">
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        完成
                        <span class="label label-sm label-success">入库登记</span>
                        &nbsp;操作人:admin
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.timeline-items -->
</div><!-- /.timeline-container -->
<div class="container">
    <h2>使用Bootstrap创建弹出框</h2>
    <div class="well">
        <a href="#" id="example" class="btn btn-success" rel="popover"
           data-content="<a>dsds</a>"
           data-original-title="单据流程情况">悬停弹出框</a>
    </div>
</div>

</body>
</html>
<script th:inline="javascript">
    //var urlPrefix = "/graindepot-inout";
    // var theTable;
    // var g_inoutflag = [[${inoutflag}]];
    // var g_type = [[${type}]];//1:从登记检验跳转过来 2.从扦样
    $(document).ready(function () {
        $("#example").attr("data-content", $("#main-container").html());
        $("#example").popover(
            {
                html: true,
                trigger:'hover'
            });

        /* $(".form_date").bootstrapDate();
         $(".form_date").bootstrapDate("setValue", new Date());
         var param = {
             billdate: $("#billdate").bootstrapDate("getValue"),
             inoutflag: g_inoutflag
         };*/
        //  query(param);

    });


    function query(param) {
        theTable = $('#myTable').bootstrapTable({
            //数据来源（包括处理分页，排序，过滤） ，即url，action，接口，等等
            ajax: {
                url: urlPrefix + "/inout/list/page",
                data: param,
                type: "GET"
            },
            //sScrollY: 510,//表格高度
            columns: [
                {data: "billdatestr"},
                {data: "billcode"},
                {data: "sellmanname"},
                {data: "sellmanphone"},
                {data: "trucknum"},
                {data: "regstatestr"},
                {data: "billstagestr"},
                {
                    data: "billid",
                    render: function (data, type, row) {
                        return '<span class="label label-sm label-success">已登记</span>';
                    }
                },
                {
                    data: "samplingstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已扦样</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未扦样</span>';
                        }

                    }
                },
                {
                    data: "inspectstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已检验</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未检验</span>';
                        }

                    }
                },
                {
                    data: "gwstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已称毛重</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未称毛重</span>';
                        }

                    }
                },
                {
                    data: "valuebinstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">值仓完成</span>';
                        } else if (data == 2) {
                            return '<span class="label label-sm label-warning">值仓中</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未值仓</span>';

                        }

                    }
                },
                {
                    data: "tarestate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已称皮重</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未称皮重</span>';
                        }

                    }
                },
                {
                    data: "paidstate",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '<span class="label label-sm label-success">已结算</span>';
                        } else if (data == 2) {
                            return '<span class="label label-sm label-warning">结算部分</span>';
                        } else {
                            return '<span class="label label-sm label-warning">未结算</span>';
                        }

                    }
                },
                {data: "backicflagstr"},
                {
                    data: "billtype",
                    render: function (data, type, row) {
                        if (data == 1) {
                            return '正常单据';
                        } else if (data == 2) {
                            return '补单';
                        } else if (data == 0) {
                            return '期初库存单';
                        }

                    }
                },
                {
                    data: "billid",
                    render: function (data, type, row) {
                        return '<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">' +
                            '<a class="green" href="javascript:toChoose(' + data + ')"' +
                            ' title="选择" ' +
                            '>' +
                            '<i class="icon-hand-up bigger-130"></i>' +
                            '</a>' +
                            '</div>';

                    }
                }
            ]
        });
    }

    //登记流水号自动显示
    function billcodeAutoComplete() {
        $("#billcode").typeahead({
            source: function (query, process) {
                return $.ajax({
                    url: '/graindepot-inout/inspect/inout/byBillcode',
                    type: 'post',
                    data: {billcode: query, billdate: $('#billdate').bootstrapDate('getValue')},
                    success: function (result) {
                        //默认筛选name字段的值
                        return process(result);
                    }
                })
            },//数据源
            items: 8,//最多显示个数
            fitToElement: true,
            updater: function (item) {
                return item;//选中后获得的数据
            },
            afterSelect: function (item) {
                //选择项之后的事件 ，item是当前选中的。
                //console.log(item);
                //initInoutInsp(item);
            },
            delay: 500//延迟时间
        });
    }

    function searchTable() {
        theTable.destroy();
        query(getParam());
    }

    function getParam() {
        var param = {
            billdate: $("#billdate").bootstrapDate("getValue"),
            inoutflag: g_inoutflag,
            billcode: $("#billcode").val(),
            sellmanname: $("#sellmanname").val()
        };
        return param
    }

    function rest() {
        $("input").val("");
        $("select").val("");
        $(".form_date").bootstrapDate("setValue", new Date());
        //触发change事件
        $("select").trigger("change");
        searchTable();
        //$("#city").find("option[value = '"+"']").attr("selected","selected");//jq改变select的选中值

    }

    function toChoose(billid) {
        if (g_type == 1) {
            parent.findInout(billid, 2)
        } else if (g_type == 2) {
            parent.doFindInoutInsp(billid, 2)
        } else if (g_type == 3) {
            parent.doFindWeightInout(billid, 2)
        } else if (g_type == 4) {
            parent.doFindSettlementInout(billid, 2)
        }
        parent.$.bootstrapBox.dialog.close();
    }


</script>
