<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script th:inline="javascript">

    </script>
</head>

<body>
<script th:src="@{/assets/js/bootstrap3-typeahead.js}"></script>
<div class="main-container" id="main-container">
    <script th:src="@{../js/huashi.js}"></script>
    <script th:src="@{../js/d8.js}"></script>
    <div th:replace="navbar::navbar"></div>
    <div class="main-container-inner">
        <div class="main-content" id="main-content" style="float: left;margin-left:0px;width:100%">
            <div class="page-content" style="padding:10px 30px 0px">
                <div class="page-header">
                    <h1>
                        收购统一结算
                        <small>
                            <i class="icon-double-angle-right"></i>

                        </small>
                    </h1>
                </div>
                <!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <form class="form-horizontal" id="validation-form" role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4" style="border:1px solid #CCC;padding:3px;width:100%">

                                    <div style="width: 100%;height:100%;padding-left:20px;float: left">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="traderid"> 售粮单位：</label>
                                            <div class="col-sm-3">
                                                <select id="traderid" name="traderid" class="form-control">
                                                </select>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right" for="graindepotid">
                                                粮库：
                                            </label>
                                            <div class="col-sm-2">
                                                <select id="graindepotid" name="graindepotid" class="form-control">
                                                </select>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="contractid">
                                                合同号：</label>
                                            <div class="col-sm-2">
                                                <select id="contractid" name="contractid" class="form-control">
                                                </select>
                                            </div>
                                                <a class="btn btn-primary col-sm-2"
                                                   style="margin-left:5px;border:0" onclick="readCert()">
                                                    <i class="icon-credit-card"></i>
                                                    售粮人身份证
                                                </a>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="settleid"> 结算方式：</label>
                                            <div class="col-sm-2">
                                                <select id="settleid" name="settleid" class="form-control">
                                                </select>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="sumamt"> *结算金额：</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="sumamt" name="sumamt" readonly
                                                       class="form-control" data-bv-notempty
                                                       placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="accid"> 付款账户：</label>
                                            <div class="col-sm-2">
                                                <select id="accid" name="accid" class="form-control">
                                                </select>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="checkno"> 票号：</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="checkno" name="checkno" class="form-control"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="accamt"> 付款金额：</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="accamt" readonly name="accamt"
                                                       class="form-control"
                                                       placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="usepreamt"> 使用预付款：</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="usepreamt" name="usepreamt" class="form-control"
                                                       placeholder="" onchange="setPrerece()"/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="preamt"> 预付款余额：</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="preamt" name="preamt" readonly
                                                       class="form-control"
                                                       placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="remark"> 备注：</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="remark" name="remark" class="form-control"
                                                       placeholder=""/>
                                            </div>

                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:5px"/>
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                <a class="btn btn-sm btn-primary" onclick="toAdd()">
                                                    <i class="icon-plus align-top bigger-125"></i>
                                                    添加到结算
                                                </a>
                                                <a class="btn btn-sm btn-danger" onclick="doDel()">
                                                    <i class="icon-trash align-top bigger-125"></i>
                                                    本次不结算
                                                </a>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="input-group">
                                                    <span class="input-group-addon">批量修改结算单价:</span>
                                                    <input id="price" name="price" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="btn btn-sm btn-success" onclick="setPrice()">
                                                    <i class="icon-search align-top bigger-125"></i>
                                                    确定
                                                </a>
                                                <a class="btn btn-sm btn-warning" onclick="restPrice()">
                                                    <i class="icon-undo align-top bigger-125"></i>
                                                    重置
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table id="myTable" style="width:100%"
                                                   class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th class="center" style="width: 20px"></th>
                                                    <th class="center" style="width: 20px;">
                                                        <label>
                                                            <input id="CK" type="checkbox" class="ace"/>
                                                            <span class="lbl"></span>
                                                        </label>
                                                    </th>
                                                    <th style="width: 200px">入库日期</th>
                                                    <th style="width: 200px">入库流水号</th>
                                                    <th style="width: 100px">车船号</th>
                                                    <th style="width: 100px">仓房号</th>
                                                    <th style="width: 100px">粮食性质</th>
                                                    <th style="width: 100px">粮食品种</th>
                                                    <th style="width: 100px">结算数量</th>
                                                    <th style="width: 100px">结算单价</th>
                                                    <th style="width: 100px">结算金额</th>
                                                    <th style="width: 100px">摘要</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- /span -->
                                </div>
                            </div>
                            <div class="row" style="float: right;padding-right: 12px">
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-arrow-left icon-on-left"></i>
                                    前一单
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-arrow-right icon-on-right"></i>
                                    后一单
                                </a>
                                <!--<OBJECT id=rd codeBase="comRD800.cab" WIDTH="10" HEIGHT="0"
                                        classid="clsid:638B238E-EB84-4933-B3C8-854B86140668">
                                </OBJECT>
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-credit-card"></i>
                                    刷卡查单
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-search"></i>
                                    单据查询
                                </a>-->
                                <a class="btn btn-success" style="border: 0;width: 120px;"
                                   onclick="toSave()">
                                    <i class="icon-legal"></i>
                                    确认结算
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;padding-left:10px">
                                    <i class="icon-undo"></i>
                                    取消
                                </a>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container-inner -->

</div>
<!-- /.main-container -->

<script type="text/javascript">
    var param = {"inoutflag": -1, "buysellflag": -1};
    var theTable;
    var g_checkedList = [];
    jQuery(function ($) {
        initTrader();
        initGraindepot();
        initSettle();
        comm_initAccount(param);
        query();
    });
    function initGraindepot() {
        $("#graindepotid").bootstrapSelect({
            url: '/graindepot-base/selector/graindepotList',
            type: 'GET',
            valueField: 'graindepotid',
            textField: 'graindepotname',
            onSelect: function (graindepotid, row) {
                query(param);
            }
        }
        );

    }
    function initSettle() {
        $("#settleid").bootstrapSelect({
            url: '/graindepot-base/selector/settleList',
            type: 'GET',
            valueField: 'settleid',
            textField: 'settlename'
        });
    }
    function toAdd() {
        var checkedList = $('#myTable').bootstrapTable("getChecked");
        if (checkedList.length == 0) {
            $.bootstrapBox.alert.init({message: "请选择本次结算的行"});
            return
        }
        var sumamt = 0, accamt = 0;
        for (var i = 0; i < checkedList.length; i++) {
            if (checkedList[i].amount != null) {
                sumamt += parseFloat(checkedList[i].amount);
                accamt += parseFloat(checkedList[i].amount);
            }
        }
        $("#sumamt").val(sumamt);
        $("#accamt").val(accamt);
        g_checkedList = checkedList;

    }

    function doDel() {
        if (theTable == undefined) {
            $.bootstrapBox.alert.init({message: "请选择本次不结算的行"});
            return
        }
        var checkedList = $('#myTable').bootstrapTable("getChecked");
        if (checkedList.length == 0) {
            $.bootstrapBox.alert.init({message: "请选择本次不结算的行"});
            return
        }

        $.bootstrapBox.confirm.init({
            message: "确认选择的单据本次不结算吗？",
            callback: function (result) {
                if (result) {
                    //删除行
                    var sumamt = $("#sumamt").val();
                    var accamt = $("#accamt").val();
                    for (var i = 0; i < checkedList.length; i++) {
                        if (checkedList[i].amount != null) {
                            if (sumamt != null) {
                                sumamt -= checkedList[i].amount;
                                accamt -= checkedList[i].amount;
                            }
                        }
                    }
                    $("#sumamt").val(sumamt);
                    $("#accamt").val(accamt);
                    $('#myTable').bootstrapTable("remove");
                    /*$.post("/graindepot-inout/video/del", {ids:ids.join(",")}, function (result) {
                        $.bootstrapBox.alert.init({
                            message: result.message
                        });
                        $("#myTable").bootstrapTable("reload");
                    })*/

                }

            }
        });

    }

    function initTrader() {
        $("#traderid").bootstrapSelect({
            url: '/graindepot-base/selector/traderList',
            type: 'GET',
            valueField: 'traderid',
            textField: 'tradername',
            onSelect: function (traderid, row) {
                if (traderid) {
                    initContract(traderid);
                    query(param);
                    setPrerece();
                }
            }
        })
    }

    function initContract(traderid) {
        $("#contractid").bootstrapSelect({
            url: '/graindepot-inout/selectorInout/contractByMap',
            type: 'GET',
            valueField: 'contractid',
            textField: 'contractno',
            param: {traderid: traderid,buysellflag:1},
            onSelect: function (contractid, row) {
                if (contractid) {
                    query(param);
                }
            }
        });
    }

    function initStorage() {
        $("#storageid").bootstrapSelect({
            url: '/graindepot-base/selector/storageList',
            type: 'GET',
            valueField: 'storageid',
            textField: 'storagename',
            onSelect: function (storageid, row) {
                if (storageid) {
                    query();
                }

            }
        });
    }

    function query() {
        var traderid = $("#traderid").bootstrapSelect("getValue");
        var graindepotid = $("#graindepotid").bootstrapSelect("getValue");
        var contractid = $("#contractid").bootstrapSelect("getValue");
        var param = {
            traderid: traderid,
            graindepotid: graindepotid,
            contractid: contractid,
            inoutflag:1
        };
        if (theTable != undefined) {
            theTable.destroy();
        }
        theTable = $('#myTable').bootstrapTable({
            //数据来源（包括处理分页，排序，过滤） ，即url，action，接口，等等
            ajax: {
                url: "/graindepot-inout/settlement/settmentPageList",
                data: param,
                type: "POST"
            },
            columns: [
                {title: "入库日期", data: "billdatestr"},
                {title: "入库流水号", data: "billcode"},
                {title: "车牌号", data: "trucknum"},
                {title: "仓房号", data: "storagename"},
                {title: "粮食性质", data: "grainattrname"},
                {title: "粮食品种", data: "grainname"},
                {title: "结算数量", data: "paidweight"},
                {title: "结算单价", data: "price"},
                {title: "结算金额", data: "amount"},
                {title: "摘要", data: "remark"}

            ],
            showLengthMenu:true //显示每页显示多少行数据
        });
        rest();

    }

    //设置预付款
    function setPrerece() {
        var traderid = $("#traderid").bootstrapSelect("getValue");
        if (!traderid) {
            return
        }
        $.get("/graindepot-inout/settlement/prerece/leftAmount", {traderid: traderid})
                .then(function (result) {
                var leftPreamt = result.data;
                leftPreamt = leftPreamt ? leftPreamt : 0;
                var usepreamt = $("#usepreamt").val();
                usepreamt = usepreamt ? usepreamt : 0;
                var o = leftPreamt - usepreamt;
                if (o >= 0) {
                    $("#preamt").val(leftPreamt - usepreamt);
                } else {
                    $("#usepreamt").val(leftPreamt);
                    $("#preamt").val(0);
                }

            })


    }

    function toSave() {
        if (g_checkedList.length == 0) {
            $.bootstrapBox.alert.init({message: '请添加结算单据'});
            return
        }
        $("#validation-form").bootstrapValidator('validate');//提交验证
        if ($("#validation-form").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
            var param = turnArrayToJson($('form').serializeArray());
            $.post("/graindepot-inout/settlement/editOutSettlement", param)
                .then(function (result) {
                    //保存到b_outpay_detail
                    var outpayDeatil = g_checkedList.map(function (item) {
                        return {
                            outpayid: result.data.outpayid,
                            billid: item.billid,
                            price: item.price,
                            amount: item.amount,
                            brief: item.remark
                        }
                    });
                    $.post("/graindepot-inout/settlement/editOutpayDetail", {json: JSON.stringify(outpayDeatil)})
                        .then(function (result) {
                            setPrerece();
                            query();
                            $.bootstrapBox.alert.init({message: result.message})
                        })


                })


        }

    }

    function setPrice() {
        var price = $("#price").val();
        if (!isNumber(price)) {
            return
        }
        var checkedList = $("#myTable").bootstrapTable("getCheckedWithIndex");
        if (checkedList.length == 0) {
            $.bootstrapBox.alert.init({message: "请选中行后操作"});

        } else {
            checkedList.forEach(function (curr, index) {
                curr.data.price = price;
                curr.data.amount = (price * curr.data.paidweight).toFixed(2);
                $("#myTable").bootstrapTable("updateRow", curr);
            });
            //修改完成单价之后，得重新添加到结算
            $("#sumamt").val("");
            $("#accamt").val("");

        }

    }

    function restPrice() {
        $("#price").val("")
    }
    function rest() {
        $("#sumamt").val("");
        $("#accamt").val("");
        $("#usepreamt").val("");
        g_checkedList=[];
    }


</script>
</body>
</html>