<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script th:inline="javascript">

    </script>
</head>
<script th:src="@{/graindepot-inout/js/inoutComm.js}"></script>
<script th:src="@{/graindepot-inout/js/IC.js}"></script>
<body>
<object classid="clsid:5EB842AE-5C49-4FD8-8CE9-77D4AF9FD4FF" id="IdrControl1" width="10" height="0" codebase="idr.cab">
</object>
<div>
    <script th:src="@{../js/huashi.js}"></script>
    <script th:src="@{../js/d8.js}"></script>
    <div th:replace="navbar::navbar"></div>
    <div class="main-container-inner">
        <!--<div class="well">
            <a href="#" id="timeLine"  rel="popover"
               data-content=""
               data-original-title="单据进度">
                单据进度
            </a>
        </div>-->
        <div class="main-content" id="main-content" style="float: left;margin-left:0px;width:100%">
            <div class="page-content" style="padding:10px 30px 0px">
                <div class="page-header">
                    <h1>
                        扦样检验
                        <small>
                            <i class="icon-double-angle-right"></i>

                        </small>
                    </h1>
                </div>
                <!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" id="validation-form" role="form">
                            <div class="row">
                                <div class="col-xs-8 col-sm-4" style="border:1px solid #CCC;padding:3px;width:100%">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="billcode">
                                            登记流水号:
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" name="billcode" id="billcode" class="form-control"
                                                   readonly placeholder="" data-bv-notempty/>
                                        </div>
                                        <a class="col-sm-1 btn btn-info" style="border: 0;width: 80px;"
                                           id="timeLine"  rel="popover"
                                           data-content="无"
                                           data-original-title="单据进度">
                                            <i class="icon-question-sign icon-on-right"></i>
                                            进度
                                        </a>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="billstate">
                                            状态:
                                        </label>
                                        <div class="col-sm-2">
                                            <label id="billstate" style="margin-top: 4px;"
                                                   class="center red">未保存</label>
                                        </div>
                                    </div>
                                    <hr style="margin-bottom:5px;margin-top:15px"/>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="sellmanname">
                                            售粮人:
                                        </label>
                                        <div class="col-sm-2">
                                            <input type="text" name="sellmanname" id="sellmanname" class="form-control"
                                                   readonly placeholder=""/>
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="traderid">
                                            售粮单位:
                                        </label>
                                        <div class="col-sm-2">
                                            <select id="traderid" name="traderid" readonly class="form-control">
                                            </select>
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="trucknum">
                                            车船号:
                                        </label>
                                        <div class="col-sm-2">
                                            <input type="text" name="trucknum" id="trucknum" class="form-control"
                                                   readonly placeholder=""/>
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="inspresult">
                                            检验结果:
                                        </label>
                                        <div class="col-sm-2">
                                            <select id="inspresult" name="inspresult" readonly class="form-control">
                                            </select>
                                        </div>

                                    </div>
                                    <hr style="margin-bottom:5px;margin-top:15px"/>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="storageid">
                                            仓房号:
                                        </label>
                                        <div class="col-sm-2">
                                            <select id="storageid" name="storageid" class="form-control">
                                            </select>
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="grainid">
                                            粮食品种:
                                        </label>
                                        <div class="col-sm-2">
                                            <select id="grainid" name="grainid" class="form-control">
                                            </select>
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="grainattrid">
                                            粮食性质:
                                        </label>
                                        <div class="col-sm-2">
                                            <select id="grainattrid" name="grainattrid" class="form-control">
                                            </select>
                                        </div>
                                    </div>

                                    <hr style="margin-bottom:5px;margin-top:15px"/>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="producingyear">
                                            收获年度:
                                        </label>
                                        <div class="col-sm-1">
                                            <input type="text" id="producingyear" name="producingyear"
                                                   class="form-control" placeholder=""/>
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="grade">
                                            粮食等级:
                                        </label>
                                        <div class="col-sm-1">
                                            <select id="grade" name="grade" class="form-control">
                                            </select>
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="price">
                                            收购价格:
                                        </label>
                                        <div class="col-sm-1">
                                            <input type="text" id="price" name="price"
                                                   class="form-control" placeholder=""/>
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="inplanid">
                                            计划安排:
                                        </label>
                                        <div class="col-sm-2">
                                            <select id="inplanid" name="inplanid" class="form-control">
                                            </select>
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right"
                                               for="contractid">
                                            合同号:
                                        </label>
                                        <div class="col-sm-2">
                                            <select id="contractid" name="contractid" class="form-control">
                                            </select>
                                        </div>
                                    </div>

                                    <hr style="margin-bottom:5px;margin-top:15px"/>
                                    <div id="inspect">
                                        请选择粮食品种生成检验标准
                                    </div>
                                    <hr style="margin-bottom:5px;margin-top:15px"/>
                                    <div id="inspectDedu">
                                        请选择粮食品种生成升扣标准
                                    </div>

                                    <!--<div id="gqitem1" style="display: none">
                                        <div th:replace="in/gqitem::gqitem1"></div>
                                    </div>
                                    <div id="gqitem2" style="display: none">
                                        <div th:replace="in/gqitem::gqitem2"></div>
                                    </div>
                                    <div id="gqitem3">
                                        <div th:replace="in/gqitem::gqitem3"></div>
                                    </div>-->
                                </div>
                            </div>
                            <!-- /span -->
                            <div class="row" style="float: right;padding-right: 12px">
                                <a class="btn btn-success" style="border: 0;width: 120px;"
                                   onclick="toFindInoutInspDetail(1)">
                                    <i class="icon-arrow-left icon-on-left"></i>
                                    前一单
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;"
                                   onclick="toFindInoutInspDetail(3)">
                                    <i class="icon-arrow-right icon-on-right"></i>
                                    后一单
                                </a>
                                <OBJECT id=rd codeBase="comRD800.cab" WIDTH="10" HEIGHT="0"
                                        classid="clsid:638B238E-EB84-4933-B3C8-854B86140668">
                                </OBJECT>
                                <a class="btn btn-success" style="border: 0;width: 120px;"
                                   onclick="toFindInoutInspDetail(2)">
                                    <i class="icon-credit-card"></i>
                                    刷卡查单
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;" onclick="toInoutList()">
                                    <i class="icon-tint"></i>
                                    流水号查单
                                </a>
                                <!--<a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-save"></i>
                                    保存写卡
                                </a>-->
                                <a class="btn btn-success" style="border: 0;width: 120px;" onclick="toSave()">
                                    <i class="icon-save"></i>
                                    保存
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;padding-left:10px"
                                   onclick="reset()">
                                    <i class="icon-undo"></i>
                                    取消
                                </a>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container-inner -->

</div>
<!-- /.main-container -->

<script th:inline="javascript">
    var g_grainInspectItem = [];//当前质检信息标准数据
    var g_grainRank = {};//当前粮食品种等级划分标准
    var g_userAddress = [[${userAddress}]];
    var IcObject=new IcFactory(1).createIcObject();
    $(function () {
        initStorage();
        initInspresult();
        initGrain();
        initTrader();
        //initGrainattr();
        // initGrade();
        comm_initGrainattr();
        initGrade();
        //登记流水号自动显示
        // billcodeAutoComplete();
        $(".form_date").bootstrapDate();
        $('.form_date').bootstrapDate('setValue', new Date());
        //加载单据进度tooltip
        $("#timeLine").popover({html: true, trigger: 'hover'});
    });

    //登记流水号自动显示
    function billcodeAutoComplete() {
        $("#billcode").typeahead({
            source: function (query, process) {
                return $.ajax({
                    url: '/graindepot-inout/inout/byBillcode',
                    type: 'post',
                    data: {billcode: query, billdate: $('#billdate').bootstrapDate('getValue')},
                    success: function (result) {
                        //默认筛选name字段的值
                        return process(result);
                    }
                })
            },//数据源
            items: 8,//最多显示个数
            fitToElement: true,
            updater: function (item) {
                return item;//选中后获得的数据
            },
            afterSelect: function (item) {
                //选择项之后的事件 ，item是当前选中的。
                console.log(item);
                setInoutInsp(item);
            },
            delay: 500//延迟时间
        });
    }

    function initInspresult() {
        var data = [{value: 1, text: "待检"}, {value: 2, text: "接收"}, {value: 3, text: "不接收"}];
        $("#inspresult").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            defaultValue: 1
        });
    }

    function initTrader() {
        $("#traderid").bootstrapSelect({
            url: '/graindepot-base/selector/traderList',
            type: 'GET',
            valueField: 'traderid',
            textField: 'tradername',
            onSelect: function (traderid, row) {
            }
        })
    }

    function initStorage() {
        $("#storageid").bootstrapSelect({
            url: '/graindepot-inout/selectorInout/storageByMap',
            type: 'GET',
            valueField: 'storageid',
            textField: 'storagename',
            onSelect: function (storageid, row) {
                if (storageid) {
                    $("#grainid").bootstrapSelect("setValue", row.defGrainID)
                }
            }
        });
    }

    function initGrain(defaultGrainid) {
        $("#grainid").bootstrapSelect({
            url: '/graindepot-base/selector/grainList',
            type: 'GET',
            valueField: 'grainid',
            textField: 'grainname',
            defaultValue: defaultGrainid,
            onSelect: function (grainid, row) {
                if (!grainid) {
                    $("#inplanid").bootstrapSelect("empty");
                    $("#contractid").bootstrapSelect("empty");
                } else {
                    initPlanfileInput(grainid);
                    initContract(grainid);
                }
                /*if(grainid>=3&& grainid<=6){
                    $("#gqitem1").css("display","block");
                    $("#gqitem2").css("display","none");
                }else{
                    $("#gqitem1").css("display","none");
                    $("#gqitem2").css("display","block");
                }*/

                if (grainid) {
                    //获取该品种的等级划分标准
                    /* $.get("/graindepot-inout/inspect/grainRank/byGrainid", {grainid: grainid})
                         .then(function (result) {
                             g_grainRank = result.data;
                         });*/
                    var result = dataJson("GET", "/graindepot-inout/inspect/grainRank/byGrainid", {grainid: grainid});
                    g_grainRank = result.data;
                    //根据粮食品种动态生成质检标准
                    autoInspect(grainid);
                    //修改收购价格
                    setPrice();

                }
            }
        });
    }

    function initPlanfileInput(grainid) {
        $("#inplanid").bootstrapSelect({
            url: '/graindepot-inout/selectorInout/planfileInplan/byGrainid',
            type: 'GET',
            valueField: 'plandetailid',
            textField: 'planname',
            param: {grainid: grainid}
        });
    }

    function initContract(grainid) {
        $("#contractid").bootstrapSelect({
            url: '/graindepot-inout/selectorInout/contractByMap',
            type: 'GET',
            valueField: 'contractid',
            textField: 'contractno',
            param: {grainid: grainid}
        });
    }

    function initGrade() {
        var data = [{value: 1, text: "一等"}, {value: 2, text: "二等"}, {value: 3, text: "三等"}
            , {value: 4, text: "四等"}, {value: 5, text: "五等"}, {value: 6, text: "等外"}];
        $("#grade").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            defaultValue: 3,
            onSelect: function (value, item) {
                //收购价格
                setPrice();
                setInspectDeduByGrade();
            }
        });
    }

    //根据粮食品种动态生成质检标准
    function autoInspect(grainid) {
        var result = dataJson("GET", "/graindepot-inout/inspect/grainInspectItem/byGrainid", {grainid: grainid});
        g_grainInspectItem = result.data;
        var formGroup = "<div class=\"form-group\">";
        var label = '<label class="col-sm-1 control-label no-padding-right" for="';
        var o = '">';
        var _label = "</label>";
        var divStyle = '<div class="col-sm-1">';
        var _div = "</div>";
        var r = ":";
        var inspectHtml = "";
        var inspectDeduHtml = "";
        if (result.data.length > 0) {
            //配置粮质信息
            result.data.forEach(function (curr, index) {
                var inspectitem = curr.inspectitem;
                if (index % 6 == 0) {
                    inspectHtml += formGroup;
                }
                inspectHtml += label;
                inspectHtml += inspectitem.itemfield + o + inspectitem.itemname + r + _label;
                inspectHtml += divStyle;
                inspectHtml += '<input type="text" id="' + inspectitem.itemfield + '" name="'
                    + inspectitem.itemfield + '" class="form-control" placeholder="" ';
                inspectHtml += 'onChange="setInspectDeduByInspectItem(' + curr.keyid + ')"';
                inspectHtml += '/>' + _div;
                if (index % 5 == 0 && index > 0) {
                    inspectHtml += _div;
                }
            });
            //配置检验标准扣率
            var inspectItemDedu = result.data.filter(function (curr) {
                return curr.isdedu == 1;
            });
            if (inspectItemDedu.length > 0) {
                inspectItemDedu.forEach(function (curr, index) {
                    var inspectitem = curr.inspectitem;
                    if (index % 6 == 0) {
                        inspectDeduHtml += formGroup;
                    }
                    inspectDeduHtml += label;
                    inspectDeduHtml += inspectitem.itemratefield + o + inspectitem.itemname + '(扣率)' + r + _label;
                    inspectDeduHtml += divStyle;
                    inspectDeduHtml += '<input type="text" id="' + inspectitem.itemratefield + '" name="'
                        + inspectitem.itemratefield + '" class="form-control" placeholder=""/>' + _div;
                    if (index % 5 == 0 && index > 0) {
                        inspectDeduHtml += _div;
                    }
                })
            }
        } else {
            inspectHtml = "暂未配置该品种的质检标准"
        }
        $("#inspect").html(inspectHtml);
        $("#inspectDedu").html(inspectDeduHtml);
        /* $.get("/graindepot-inout/inspect/grainInspectItem/byGrainid", {grainid: grainid})
             .then(function (result) {

             })*/
    }

    function setInspectDedu(grainInspectItem) {
        var grade = $("#grade").bootstrapSelect("getValue");
        if (!grade) {
            return;
        }
        var inspectitem = grainInspectItem.inspectitem;
        //获取输入框输入的值
        var theValue = $("#" + inspectitem.itemfield).val();
        if (!isNumber(theValue)) {
            return
        }
        //判断是否超过增扣上限或者低于增扣下限
        var upperlimit = grainInspectItem.upperlimit;
        var lowerlimit = grainInspectItem.lowerlimit;
        if (isNumber(upperlimit) && upperlimit < theValue) {
            theValue = upperlimit
        }
        if (isNumber(lowerlimit) && lowerlimit > theValue) {
            theValue = lowerlimit
        }
        //根据等级获取标准值
        var standardValue = grainInspectItem["grade" + grade];
        var upperstandard = grainInspectItem.upperstandard;
        var upperamount = grainInspectItem.upperstandard;
        var lowerstandard = grainInspectItem.lowerstandard;
        var loweramount = grainInspectItem.loweramount;
        var difference = theValue - standardValue;
        var dedu = "";
        if (difference > 0) {
            //表示超出标准值
            if (isNumber(upperstandard) && isNumber(upperamount)) {
                dedu = (parseInt(difference / upperstandard) * upperamount).toFixed(2);
            }
        } else {
            //表示低于标准值
            if (isNumber(lowerstandard) && isNumber(loweramount)) {
                dedu = (parseInt(-difference / lowerstandard) * loweramount).toFixed(2);
            }
        }
        if (isNumber(dedu)) {
            $("#" + inspectitem.itemratefield).val(dedu);
        }
    }

    //修改检验标准的值导致设置增扣率和等级
    function setInspectDeduByInspectItem(keyid) {
        var grainInspectItem = g_grainInspectItem.filter(function (value, index) {
            return value.keyid == keyid
        })[0];
        //设置等级
        setGradeByInspectItem(grainInspectItem);
        //设置扣率
        if (grainInspectItem.isdedu == 1) {
            setInspectDedu(grainInspectItem);
        }

    }

    //1.1,2.2 => [1.1,2.2]
    function toDoubleArry(gradeRangeStr) {
        var gradeArry = [];
        if (gradeRangeStr) {
            var gradeRangeArry = gradeRangeStr.split(",");
            if (isNumber(gradeRangeArry[0])) {
                gradeArry.push(parseFloat(gradeRangeArry[0]))
            } else {
                gradeArry.push(Number.NEGATIVE_INFINITY);
            }
            if (isNumber(gradeRangeArry[1])) {
                gradeArry.push(parseFloat(gradeRangeArry[1]))
            } else {
                gradeArry.push(Number.POSITIVE_INFINITY);
            }
            return gradeArry;
        }
        return [1, -1];
    }

    //修改检验标准的值导致设置等级
    function setGradeByInspectItem(grainInspectItem) {
        var rankInspectItemId = g_grainRank.inspectitemid;//粮食品种划分等级标准
        //如果修改的检验标准正好是等级划分标准
        if (grainInspectItem.inspectitemid == rankInspectItemId) {
            //获取填入的值
            var rankValue = $("#" + grainInspectItem.inspectitem.itemfield).val();
            var grade1Arry = toDoubleArry(g_grainRank.grade1);
            if (rankValue >= grade1Arry[0] && rankValue < grade1Arry[1]) {
                $("#grade").bootstrapSelect("setValue", 1);
            }
            var grade2Arry = toDoubleArry(g_grainRank.grade2);
            if (rankValue >= grade2Arry[0] && rankValue < grade2Arry[1]) {
                $("#grade").bootstrapSelect("setValue", 2);
            }
            var grade3Arry = toDoubleArry(g_grainRank.grade3);
            if (rankValue >= grade3Arry[0] && rankValue < grade3Arry[1]) {
                $("#grade").bootstrapSelect("setValue", 3);
            }
            var grade4Arry = toDoubleArry(g_grainRank.grade4);
            if (rankValue >= grade4Arry[0] && rankValue < grade4Arry[1]) {
                $("#grade").bootstrapSelect("setValue", 4);
            }
            var grade5Arry = toDoubleArry(g_grainRank.grade5);
            if (rankValue >= grade5Arry[0] && rankValue < grade5Arry[1]) {
                $("#grade").bootstrapSelect("setValue", 5);
            }
            var grade6Arry = toDoubleArry(g_grainRank.grade6);
            if (rankValue >= grade6Arry[0] && rankValue < grade6Arry[1]) {
                $("#grade").bootstrapSelect("setValue", 6);
            }
        }
    }

    //修改等级的值导致设置增扣率
    function setInspectDeduByGrade() {
        g_grainInspectItem.forEach(function (value, index) {
            if (value.isdedu == 1) {
                setInspectDedu(value);
            }
        })
    }

    //修改等级之后导致修改收购价格
    function setPrice() {
        var grainid = $("#grainid").bootstrapSelect("getValue");
        var grade = $("#grade").bootstrapSelect("getValue");
        if (grainid) {
            //根据品种id获取价格
            var result = dataJson("GET", "/graindepot-inout/inspect/grainPrice/listByGrainid", {grainid: grainid});
            if (result.data){
                $("#price").val(result.data["price" + grade]);
            }else {
                $("#price").val("");
            }
            /*$.get("/graindepot-inout/inspect/grainPrice/listByGrainid", {grainid: grainid})
                .then(function (result) {
                    $("#price").val(result.data["price" + grade])
                })*/
        }


    }

    function toSave() {
        $("#validation-form").bootstrapValidator('validate');//提交验证
        if ($("#validation-form").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
            var param = turnArrayToJson($('form').serializeArray());
            $.post("/graindepot-inout/inspect/editInoutInsp", param, function (result) {
                if (result.success) {
                    $("#billstate").html("已保存");
                }
                $.bootstrapBox.alert.init({message: result.message})
            });
        }
    }

    //根据查出的出入库单和质检信息单初始化页面显示
    function setInoutInsp(inout) {
        if (inout.billcode) {
            $("#billcode").val(inout.billcode);
        }
        $("#traderid").bootstrapSelect("setValue", inout.traderid);
        $("#sellmanname").val(inout.sellmanname);
        $("#trucknum").val(inout.trucknum);
        $("#storageid").bootstrapSelect("setValue", inout.storageid);
        $("#grainid").bootstrapSelect("setValue", inout.grainid);
        $("#grainattrid").bootstrapSelect("setValue", inout.grainattrid);
        $("#grade").bootstrapSelect("setValue", inout.grade ? inout.grade : 3);
        $("#producingyear").val(inout.producingyear);
        $("#inplanid").bootstrapSelect("setValue", inout.inplanid);
        $("#contractid").bootstrapSelect("setValue", inout.contractid);
        //根据billid查询当前质检信息
        $.post("/graindepot-inout/inspect/selectById", {billid: inout.billid})
            .then(function (result) {
                if (result) {
                    $("#inspresult").bootstrapSelect("setValue", result.inspresult);
                    $("#inspect").find("input").each(function (index, curr) {
                        $(this).val(result[$(this).attr("name")])
                    });
                    $("#inspectDedu").find("input").each(function (index, curr) {
                        $(this).val(result[$(this).attr("name")])
                    });
                    $("#billstate").html("已保存")
                } else {
                    reset();
                    $("#billstate").html("未保存")
                }
            })
        if (inout.price) {
            $("#price").val(inout.price);
        }

        $("#timeLine").attr("data-content", getInoutTooltipHtml(inout));


    }

    //type 1:前一单 2:刷卡查单  3:后一单
    function toFindInoutInspDetail(flag) {
        var billcode;
        if (flag == 2) {
            billcode = IcObject.readCard(1);
            if (billcode=="ERROR"){
                return
            } else{
                if (!billcode) {
                    $.bootstrapBox.alert.init({message: "ic卡内无流水号数据"})
                }
            }
        } else {
            billcode = $("#billcode").val();
        }
        //根据billcode获取billid
        $.get("/graindepot-inout/inout/billid/byBillcode", {billcode: billcode})
            .then(function (result) {
                doFindInoutInsp(result.data, flag);
            });
    }

    function doFindInoutInsp(billid, flag) {
        $.get("/graindepot-inout/inout/findOneIn", {billid: billid, flag: flag})
            .then(function (result) {
                if (result.success) {
                    var inout = result.data;
                    setInoutInsp(inout);
                } else {
                    $.bootstrapBox.alert.init({message: result.message})
                }
            }, function () {
                $.bootstrapBox.alert.init({message: "查询失败"})
            })
        /*//根据billcode获取billid
        $.get("/graindepot-inout/inspect/inout/oneByBillcode", {
            billcode: flag != 2 ? $("#billcode").val() : cardBillcode
        }).then(function (result) {
            var billid = result.data.billid;
            //根据billid查询前一单 当前单 后一单
            var url = "/graindepot-inout/register/inout/findOneIn";
            var param = {billid: billid, flag: flag};
            if (flag == 2) {
                url = "/graindepot-inout/register/inout/oneIn";
                param = {billcode: result.data.billcode}
            }
            $.get(url, param)
                .then(function (result) {
                    if (result.success) {
                        var inout = result.data;
                        setInoutInsp(inout);
                    } else {
                        $.bootstrapBox.alert.init({message: result.message})
                    }
                }, function () {
                    $.bootstrapBox.alert.init({message: "查询失败"})
                })
        })*/
    }

    //取消按钮
    function reset() {
        $("#inspect").find("input").each(function () {
            $(this).val(undefined)
        });
        $("#inspectDedu").find("input").each(function () {
            $(this).val(undefined)
        });
        $("#inspresult").bootstrapSelect("reload");
    }

    //流水号查单
    function toInoutList() {
        $.bootstrapBox.dialog.init({
            title: "入库单据列表",
            url: "/graindepot-inout/inout/toInout?inoutflag=1&type=2",
            width: $(window).width() * 1,
            height: $(window).height() * 0.8
        })
    }

</script>
</body>
</html>