<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script th:inline="javascript">

    </script>
</head>

<body>
<div>
    <script th:src="@{/graindepot-inout/js/inoutComm.js}"></script>
    <script th:src="@{../js/huashi.js}"></script>
    <script th:src="@{../js/d8.js}"></script>
    <div th:replace="navbar::navbar"></div>
    <div class="main-container-inner">
        <div class="main-content" id="main-content" style="float: left;margin-left:0px;width:100%">
            <div class="page-content" style="padding:10px 30px 0px">
                <div class="page-header">
                    <h1>
                        收购结算
                        <small>
                            <i class="icon-double-angle-right"></i>

                        </small>
                    </h1>
                </div>
                <!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <form class="form-horizontal" id="validation-form" role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4" style="border:1px solid #CCC;padding:3px;width:100%">
                                    <div style="width: 35%;height:100%;float: left">
                                        <div style="width: 100%;height:45%;text-align: center;">
                                            <div style="border:solid 1px #CCC ;float:left;width: 50%;height:100%;background-color: black;text-align: center;">
                                                <label style="height:100%;line-height: 250px;font-size: 40px;color:#fff">&nbsp;</label>
                                            </div>
                                            <div style="border:solid 1px #CCC ;float:left;width: 50%;height:100%;background-color: black;text-align: center;">
                                                <label style="height:100%;line-height: 250px;font-size: 40px;color:#fff">&nbsp;</label>
                                            </div>
                                        </div>
                                        <div style="width: 100%;height:45%;text-align: center;">

                                            <div style="border:solid 1px #CCC ;float:left;width: 50%;height:100%;background-color: black;text-align: center;">
                                                <label style="height:100%;line-height: 250px;font-size: 40px;color:#fff">&nbsp;</label>
                                            </div>
                                            <div style="border:solid 1px #CCC ;float:left;width: 50%;height:100%;background-color: black;text-align: center;">
                                                <label style="height:100%;line-height: 250px;font-size: 40px;color:#fff">&nbsp;</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div style="width: 65%;height:100%;padding-left:20px;float: left">
                                        <div class="form-group">
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="billcode">
                                                登记流水号:
                                            </label>
                                            <div class="col-sm-3">
                                                <input type="text" name="billcode" id="billcode" class="form-control"
                                                       readonly placeholder=""/>
                                            </div>
                                            <a class="col-sm-1 btn btn-info" style="border: 0;width: 80px;"
                                               id="timeLine"  rel="popover"
                                               data-content="无"
                                               data-original-title="单据进度">
                                                <i class="icon-question-sign icon-on-right"></i>
                                                进度
                                            </a>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="billstate">
                                                状态:
                                            </label>
                                            <div class="col-sm-2">
                                                <label id="billstate" style="margin-top: 4px;"
                                                       class="center red">未保存</label>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="printtempid">
                                                结算单模板:
                                            </label>
                                            <div class="col-sm-2">
                                                <select id="printtempid" name="printtempid" class="form-control">
                                                </select>
                                            </div>
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="settlemothod">
                                                结算类型:
                                            </label>
                                            <div class="col-sm-2">
                                                <select id="settlemothod" name="settlemothod" class="form-control">
                                                </select>
                                            </div>
                                            <a class="btn btn-primary col-sm-2"
                                               style="margin-left:15px;border:0">
                                                <i class="icon-credit-card"></i>
                                                微信付款
                                            </a>
                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:15px"/>
                                        <div class="form-group">
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="traderid">
                                                售粮单位:
                                            </label>
                                            <div class="col-sm-4">
                                                <select id="traderid" name="traderid" class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:15px"/>
                                        <div class="form-group">
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="sellmanname">
                                                售粮人:
                                            </label>
                                            <div class="col-sm-2">
                                                <input type="text" id="sellmanname" name="sellmanname"
                                                       class="form-control"
                                                       placeholder="" readonly/>
                                            </div>
                                            <label style="width: 12%"  class="col-sm-1 control-label no-padding-right"
                                                   for="sellmanphone">
                                                联系电话:
                                            </label>
                                            <div class="col-sm-2">
                                                <input type="text" id="sellmanphone" name="sellmanphone"
                                                       class="form-control"
                                                       placeholder="" readonly/>
                                            </div>
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="sellmanidcard">
                                                身份证号:
                                            </label>
                                            <div class="col-sm-3">
                                                <input type="text" id="sellmanidcard" name="sellmanidcard"
                                                       class="form-control"
                                                       placeholder="" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="trucktype">
                                                车船类型:
                                            </label>
                                            <div class="col-sm-2">
                                                <select id="trucktype" name="trucktype" class="form-control">
                                                </select>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="trucknum">
                                                车船号:
                                            </label>
                                            <div class="col-sm-3">
                                                <input type="text" id="trucknum" name="trucknum" class="form-control"
                                                       placeholder="" readonly/>
                                            </div>
                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:15px"/>
                                        <div class="form-group">
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="storageid">
                                                仓房号:
                                            </label>
                                            <div class="col-sm-2">
                                                <select id="storageid" name="storageid" class="form-control">
                                                </select>
                                            </div>
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="grainid">
                                                粮食品种:
                                            </label>
                                            <div class="col-sm-2">
                                                <select id="grainid" name="grainid" class="form-control">
                                                </select>
                                            </div>
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="grainattrid">
                                                粮食性质:
                                            </label>
                                            <div class="col-sm-2">
                                                <select id="grainattrid" name="grainattrid" class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="producingyear">
                                                收获年度:
                                            </label>
                                            <div class="col-sm-1">
                                                <input type="text" id="producingyear" name="producingyear"
                                                       class="form-control" placeholder=""/>
                                            </div>
                                            <label style="width: 12%" class="col-sm-1 control-label no-padding-right"
                                                   for="grade">
                                                粮食等级:
                                            </label>
                                            <div class="col-sm-2">
                                                <select id="grade" name="grade" class="form-control">
                                                </select>
                                            </div>

                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="price1" style="width: 13%;">
                                                检验确认单价:
                                            </label>
                                            <div class="col-sm-1">
                                                <input type="text" id="price1" name="price1" readonly
                                                       class="form-control" placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="price2" style="width: 14%;">
                                                保管员确认单价:
                                            </label>
                                            <div class="col-sm-1">
                                                <input type="text" id="price2" name="price2" readonly
                                                       class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:15px"/>
                                        <div id="inspect">
                                            请选择粮食品种生成检验标准
                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:15px"/>
                                        <div class="form-group">
                                            <label style="width: 9%" class="col-sm-1 control-label no-padding-right"
                                                   for="grossweight">
                                                毛重:
                                            </label>
                                            <div class="col-sm-2">
                                                <input type="text" id="grossweight" name="grossweight"
                                                       class="form-control" readonly placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="tareweight" style="width: 9%;">
                                                皮重:
                                            </label>
                                            <div class="col-sm-2">
                                                <input type="text" id="tareweight" name="tareweight"
                                                       class="form-control" readonly placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="netweight" style="width: 9%;">
                                                净重:
                                            </label>
                                            <div class="col-sm-1" style="width:13%;">
                                                <input type="text" id="netweight" name="netweight"
                                                       class="form-control" readonly placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="totalincdedu" style="width: 9%;">
                                                合计扣重:
                                            </label>
                                            <div class="col-sm-1" style="width:13%;">
                                                <input type="text" id="totalincdedu" name="totalincdedu"
                                                       class="form-control" readonly placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label style="width: 9%" class="col-sm-1 control-label no-padding-right"
                                                   for="extradedu">
                                                增加扣重:
                                            </label>
                                            <div class="col-sm-2">
                                                <input type="text" id="extradedu" name="extradedu"
                                                       onchange="toSetWeightAndMoney()"
                                                       class="form-control"  placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="paidweight" style="width: 9%;">
                                                结算重量:
                                            </label>
                                            <div class="col-sm-2">
                                                <input type="text" id="paidweight" name="paidweight"
                                                       class="form-control" readonly placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   onchange="toSetWeightAndMoney()"
                                                   for="price" style="width: 9%;">
                                                结算单价:
                                            </label>
                                            <div class="col-sm-1" style="width:13%;">
                                                <input type="text" id="price" name="price"
                                                       class="form-control"  placeholder=""/>
                                            </div>
                                            <label class="col-sm-1 control-label no-padding-right"
                                                   for="amount" style="width: 9%;">
                                                结算金额:
                                            </label>
                                            <div class="col-sm-1" style="width:13%;">
                                                <input type="text" id="amount" name="amount"
                                                       class="form-control" readonly placeholder=""/>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /span -->
                            </div>
                            <div class="row" style="float: right;padding-right: 12px">
                                <a class="btn btn-success" style="border: 0;width: 120px;"
                                   onclick="toFindSettlementDetail(1)">
                                    <i class="icon-arrow-left icon-on-left"></i>
                                    前一单
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;"
                                   onclick="toFindSettlementDetail(3)">
                                    <i class="icon-arrow-right icon-on-right"></i>
                                    后一单
                                </a>
                                <OBJECT id=rd codeBase="comRD800.cab" WIDTH="10" HEIGHT="0"
                                        classid="clsid:638B238E-EB84-4933-B3C8-854B86140668">
                                </OBJECT>
                                <a class="btn btn-success" style="border: 0;width: 120px;"
                                   onclick="toFindSettlementDetail(2)">
                                    <i class="icon-credit-card"></i>
                                    刷卡查单
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;" onclick="toInoutList()">
                                    <i class="icon-tint"></i>
                                    流水号查单
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-search"></i>
                                    单据查询
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;"
                                   onclick="toSave()">
                                    <i class="icon-legal"></i>
                                    确认结算
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;padding-left:10px">
                                    <i class="icon-undo"></i>
                                    取消
                                </a>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container-inner -->

</div>
<!-- /.main-container -->

<script type="text/javascript">
    jQuery(function ($) {
        initTrader();
        initGrain();
        initGrainattr();
        initGrade();
        initSettlemothod();
        initTrucktype();
        comm_initStorage();
        //加载单据进度tooltip
        $("#timeLine").popover({html: true, trigger: 'hover'});
    });

    function initTrader() {
        $("#traderid").bootstrapSelect({
            url: '/graindepot-base/selector/traderList',
            type: 'GET',
            valueField: 'traderid',
            textField: 'tradername',
            onSelect: function (traderid, row) {
            }
        })
    }

    function initGrain() {
        $("#grainid").bootstrapSelect({
            url: '/graindepot-base/selector/grainList',
            type: 'GET',
            valueField: 'grainid',
            textField: 'grainname',
            onSelect: function (value) {
                if (value >= 3 && value <= 6) {
                    $("#gqitem3").css("display", "block");
                    $("#gqitem4").css("display", "none");
                } else {
                    $("#gqitem3").css("display", "none");
                    $("#gqitem4").css("display", "block");
                }
                if (value) {
                    //生成质检标准
                    autoInspect(value)
                }

            }
        });
    }

    function initGrainattr() {
        $("#grainattrid").bootstrapSelect({
            url: '/graindepot-base/selector/grainattrList',
            type: 'GET',
            valueField: 'grainattrid',
            textField: 'grainattrname'
        });
    }

    function initGrade() {
        var data = [{value: 1, text: "一等"}, {value: 2, text: "二等"}, {value: 3, text: "三等"}
            , {value: 4, text: "四等"}, {value: 5, text: "五等"}, {value: 6, text: "等外"}];
        $("#grade").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            defaultValue: 3
        });
    }

    function initSettlemothod() {
        var data = [{value: 1, text: "现金结算"}, {value: 2, text: "银行卡结算"}, {value: 3, text: "微信结算"}, {
            value: 4,
            text: "支付宝结算"
        }];
        $("#settlemothod").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            defaultValue: 1
        });
    }

    function initTrucktype() {
        var data = [{value: 1, text: "车辆"}, {value: 2, text: "船舶"}, {value: 3, text: "火车"}, {value: 99, text: "其他"}];
        $("#trucktype").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            defaultValue: 1
        });
    }

    //查单据 1：前一单 2：刷卡查单  3：后一单
    function toFindSettlementDetail(flag) {
        var billcode;
        if (flag==2){
            billcode = d8ReadCard(1);
            if (!billcode) {
                $.bootstrapBox.alert.init({message: "ic卡内无流水号数据"})
            }
        }else {
            billcode=$("#billcode").val();
        }
        //根据billcode获取billid
        $.get("/graindepot-inout/inout/billid/byBillcode",{billcode:billcode})
            .then(function (result) {
                doFindSettlementInout(result.data, flag);
            });

    }

    function doFindSettlementInout(billid, flag) {
        $.get("/graindepot-inout/inout/findOneIn", {billid: billid, flag: flag})
            .then(function (result) {
                if (result.success) {
                    var inout = result.data;
                    setSettlementInout(inout);
                }else {
                    $.bootstrapBox.alert.init({message: result.message})
                }
            }, function () {
                $.bootstrapBox.alert.init({message: "查询失败"})
            })
    }

    function setSettlementInout(inout) {
        $("#billcode").val(inout.billcode);
        $("#printtempid").bootstrapSelect("setValue", inout.printtempid);
        $("#settlemothod").bootstrapSelect("setValue", inout.settlemothod);
        $("#traderid").bootstrapSelect("setValue", inout.traderid);
        $("#sellmanname").val(inout.sellmanname);
        $("#sellmanphone").val(inout.sellmanphone);
        $("#sellmanidcard").val(inout.sellmanidcard);
        $("#trucktype").bootstrapSelect("setValue", inout.trucktype);
        $("#trucknum").val(inout.trucknum);
        $("#storageid").bootstrapSelect("setValue", inout.storageid);
        $("#grainid").bootstrapSelect("setValue", inout.grainid);
        $("#grainattrid").bootstrapSelect("setValue", inout.grainattrid);
        $("#producingyear").val(inout.producingyear);
        $("#grade").bootstrapSelect("setValue", inout.grade);
        $("#price1").val(inout.price1);
        $("#price2").val(inout.price2);
        $("#grossweight").val(inout.grossweight);
        $("#tareweight").val(inout.tareweight);
        $("#netweight").val(inout.netweight);
        $("#totalincdedu").val(inout.totalincdedu);
        $("#extradedu").val(inout.extradedu);
        if (inout.paidstate == 1) {
            //表示已经保存
            $("#paidweight").val(inout.paidweight);
            $("#price").val(inout.price3);
            $("#amount").val(inout.amount);
            $("#billstate").html("已保存");
        } else {
            $("#paidweight").val((inout.netweight - inout.totalincdedu - inout.extradedu).toFixed(3));
            $("#price").val(inout.price1);
            $("#amount").val(($("#paidweight").val() * $("#price").val()).toFixed(3));
            $("#billstate").html("未保存");
        }
        //根据billid查询当前质检信息
        $.post("/graindepot-inout/inspect/selectById", {billid: inout.billid})
            .then(function (result) {
                if (result) {
                    $("#inspect").find("input").each(function (index, curr) {
                        $(this).val(result[$(this).attr("name")])
                    });
                }
            });

        $("#timeLine").attr("data-content", getInoutTooltipHtml(inout));
    }

    //根据粮食品种动态生成质检标准
    function autoInspect(grainid) {
        $.get("/graindepot-inout/inspect/grainInspectItem/byGrainid", {grainid: grainid})
            .then(function (result) {
                var formGroup = "<div class=\"form-group\">";
                var label = '<label style="width:11%" class="col-sm-1 control-label no-padding-right" for="';
                var o = '">';
                var _label = "</label>";
                var divStyle = '<div class="col-sm-1" style="width: 13%">';
                var _div = "</div>";
                var r = ":";
                var inspectHtml = "";
                if (result.data.length > 0) {
                    //配置粮质信息
                    result.data.forEach(function (curr, index) {
                        var inspectitem = curr.inspectitem;
                        if (index % 4 == 0) {
                            inspectHtml += formGroup;
                        }
                        inspectHtml += label;
                        inspectHtml += inspectitem.itemfield + o + inspectitem.itemname + r + _label;
                        inspectHtml += divStyle;
                        inspectHtml += '<input type="text" id="' + inspectitem.itemfield + '" name="'
                            + inspectitem.itemfield + '" class="form-control" readonly placeholder="" ';
                        inspectHtml += '/>' + _div;
                        if (index % 3 == 0 && index > 0) {
                            inspectHtml += _div;
                        }
                    });
                } else {
                    inspectHtml = "暂未配置该品种的质检标准"
                }
                $("#inspect").html(inspectHtml);
            })
    }

    function toSave() {
        $("#validation-form").bootstrapValidator('validate');//提交验证
        if ($("#validation-form").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
            var param = turnArrayToJson($('form').serializeArray());
            $.get("/graindepot-inout/inout/billid/byBillcode",{billcode:param.billcode})
                .then(function (result) {
                    param.billid=result.data;
                    $.post("/graindepot-inout/settlement/editSettlement", param, function (result) {
                        if (result.success) {
                            $("#billstate").html("已保存");
                        }
                        $.bootstrapBox.alert.init({message: result.message})
                    });
                });


        }
    }

    //输入框变化修改结算重量和结算金额
    function toSetWeightAndMoney() {
        var netweight = $("#netweight").val();
        var totalincdedu = $("#totalincdedu").val();

        var extradedu = $("#extradedu").val();
        var price = $("#price").val();

        var paidweight = ((netweight - totalincdedu) - (isNumber(extradedu) ? extradedu : 0)).toFixed(3);
        var amount = ((isNumber(price) ? price : 0) * paidweight).toFixed(2);
        $("#paidweight").val(paidweight);
        $("#amount").val(amount);

    }

    //流水号查单
    function toInoutList() {
        $.bootstrapBox.dialog.init({
            title: "入库单据列表",
            url: "/graindepot-inout/inout/toInout?inoutflag=1&type=4",
            width: $(window).width() * 1,
            height: $(window).height() * 0.8
        })
    }
</script>
</body>
</html>