<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
    <meta charset="UTF-8"/>
    <meta name="renderer" content="ie-comp" />
    <script  th:inline="javascript">

    </script>
</head>

<body>
<div>
    <script th:src="@{../js/huashi.js}"></script>
    <script th:src="@{../js/d8.js}"></script>
    <script th:src="@{../js/mscomm32.js}"></script>
    <script th:src="@{/graindepot-video/js/webVideoCtrl.js}"></script>
    <script th:src="@{/graindepot-video/js/hik3.js}"></script>
    <script th:inline="javascript">
        var videolist=[[${videolist}]];
        var bZeroChannel=false;//默认不用模拟信号
        var iStreamType = 1; //码流类型，1 主码流， 2 子码流
        // 初始化插件
        // 全局保存当前选中窗口
        var g_iWndIndex = 0; //可以不用设置这个变量，有窗口参数的接口中，不用传值，开发包会默认使用当前选择窗口
        $(function() {
            // 检查插件是否已经安装过
            if (-1 == WebVideoCtrl.I_CheckPluginInstall()) {
                alert("您还未安装过插件，点击下载视频播放控件!");
                return;
            }
            var height=$("#divPlugin").height();
            var width=$("#divPlugin").width();
            // 初始化插件参数及插入插件
            WebVideoCtrl.I_InitPlugin(width, height,{
                iWndowType : 1,
                cbSelWnd : function(xmlDoc) {
                    g_iWndIndex = $(xmlDoc).find("SelectWnd").eq(0).text();
                    //var szInfo = "当前选择的窗口编号：" + g_iWndIndex;
                }
            });
            WebVideoCtrl.I_InsertOBJECTPlugin("divPlugin");
            changeWndNum(2);
            for(var i=0;i<videolist.length;i++){
                var wndIndex=i;
                var ip = videolist[i].ip,
                        httpport = videolist[i].httpport,
                        username = videolist[i].username,
                        password = videolist[i].password,
                        channel = videolist[i].channel,
                        maliu=videolist[i].maliu,
                        datasignal = videolist[i].datasignal;
                if(""!=maliu){
                    iStreamType=maliu;
                }
                videolist[i].iStreamType=iStreamType;
                if(datasignal==2){//模拟
                    bZeroChannel=true;
                }
                videolist[i].bZeroChannel=bZeroChannel;
                clickLogin(ip,httpport,channel,bZeroChannel,username,password,iStreamType);
                clickStartRealPlay(ip,channel,bZeroChannel,iStreamType,wndIndex);
            }
        });
        function rePlay(){
            for(var i=0;i<videolist.length;i++){
                var wndIndex=i;
                clickStartRealPlay(videolist[i].ip,videolist[i].channel,
                        videolist[i].bZeroChannel,videolist[i].iStreamType,wndIndex);
            }
        }
    </script>
    <SCRIPT   ID="clientEventHandlersJS"   LANGUAGE="javascript">
        function   MSComm1_OnComm()
        {
            switch(MSComm1.CommEvent)
            {
                case 1:{ window.alert("Send OK！"); break;}  //发送事件
                case 2: { Receive();break;} //接收事件
                default:
                    alert("Event Raised!" + MSComm1.CommEvent);
            }
        }
    </SCRIPT>

    <SCRIPT   LANGUAGE="javascript"   FOR="MSComm1"   EVENT="OnComm">
        // MSComm1控件每遇到 OnComm 事件就调用 MSComm1_OnComm()函数
        MSComm1_OnComm();
    </SCRIPT>
    <div th:replace="navbar::navbar"></div>
    <div class="main-container-inner">
        <div class="main-content" id="main-content" style="float: left;margin-left:0px;width:100%">
            <div class="page-content" style="padding:10px 30px 0px">
                <div class="page-header">
                    <h1>
                        入库检斤
                        <small>
                            <i class="icon-double-angle-right"></i>

                        </small>
                    </h1>
                </div>
                <!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <form class="form-horizontal" id="validation-form" role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4" style="border:1px solid #CCC;padding:3px;width:100%">
                                    <div style="width: 40%;height:100%;float: left">
                                        <div id="divPlugin" style="width:100%;height:492px"></div>
                                        <div style="width:100%;height:20px;text-align: right;padding-right:10px">
                                            <span id="msg" style="color:red"></span>
                                            <a class="red" href="javascript:rePlay()" style="padding-left:5px;" title="播放刷新">
                                                <i class="icon-facetime-video bigger-130"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="width: 60%;height:100%;padding-left:20px;float: left">
                                        <div class="form-group">
                                            <div class="widget-body"
                                                 style="float: left;width: 180px;height:60px;border-top: 1px solid #CCC">
                                                <div class="widget-main padding-6" style="height: 55px">
                                                    <input type="text" name="weight" id="weight"
                                                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"
                                                               style="font-size:25px;background-color:#06f;color:#fff;
                                                               width:165px;height:45px"/>

                                                </div>
                                            </div>
                                            <label style="padding-left:10px;float: left;display: block;font-size: 24px;line-height: 55px">Kg</label>
                                            <OBJECT id="MSComm1" CLASSID="clsid:648A5600-2C6E-101B-82B6-000000000014"
                                                    codebase="MSCOMM32.OCX" type="application/x-oleobject"  style="width:0px;height:0px" >
                                                <PARAM   NAME="CommPort"   VALUE="2"/>
                                                <PARAM   NAME="DataBits"   VALUE="8"/>
                                                <PARAM   NAME="StopBits"   VALUE="1"/>
                                                <PARAM   NAME="BaudRate"   VALUE="9600"/>
                                                <PARAM   NAME="Settings"   VALUE="9600,N,8,1"/>
                                                <PARAM   NAME="RTSEnable"   VALUE="1"/>
                                                <PARAM   NAME="DTREnable"   VALUE="1"/>
                                                <PARAM   NAME="Handshaking"   VALUE="0"/>
                                                <PARAM   NAME="NullDiscard"   VALUE="0"/>
                                                <PARAM   NAME="ParityReplace"   VALUE="?"/>
                                                <PARAM   NAME="EOFEnable"   VALUE="0"/>
                                                <PARAM   NAME="InputMode"   VALUE="0"/>
                                                <PARAM   NAME="InBufferSize"   VALUE="1024"/>
                                                <PARAM   NAME="InputLen"   VALUE="0"/>
                                                <PARAM   NAME="OutBufferSize"   VALUE="512"/>
                                                <PARAM   NAME="SThreshold"   VALUE="0"/>
                                                <PARAM   NAME="RThreshold"   VALUE="1"/>
                                            </OBJECT>
                                            <input   type="button" id="OperateButton" style="width:80px;height:30px;font-size:13px"   name="OperateButton"   value="打开串口"   onClick="OperatePort()">

                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:5px"/>
                                        <div class="form-group">
                                            <div style="float: left;padding-left: 19px">
                                                <label style="display:block;float:left;"> 登记流水号： </label>
                                                <input type="text" id="billcode" name="billcode" style="width:125px"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label style="float: left;padding-left:42px"> 仓房号： </label>
                                                <div class="col-sm-4" style="width:125px;padding-left:0px">
                                                    <select id="storageid" name="storageid" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="float: left;padding-left: 24px">
                                                <label> 毛重：</label>
                                                <input type="text"  id="grossweight" name="grossweight" style="width:80px"/>
                                            </div>
                                            <div style="float: left;padding-left: 10px;height:29.4px;line-height: 29.4px">
                                                <span class="label label-primary arrowed" onclick="setGrossWeight()" style="cursor:pointer;vertical-align: middle">毛重</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div style="float: left;padding-left: 47px">
                                                <label style="display:block;float:left;"> 车牌号： </label>
                                                <input type="text" id="trucknum" name="trucknum" style="width:125px"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 38px">
                                                <label class="col-sm-4 control-label no-padding-right"
                                                       style="width:70px;padding-left:0px"> 粮食品种： </label>
                                                <div class="col-sm-4" style="width:125px;padding-left:0px">
                                                    <select id="grainid" name="grainid" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="float: left;padding-left: 24px">
                                                <label> 皮重：</label>
                                                <input type="text" id="tareweight" name="tareweight" style="width:80px"/>
                                            </div>
                                            <div style="float: left;padding-left: 10px;height:29.4px;line-height: 29.4px">
                                                <span class="label label-primary arrowed"  onclick="setTareWeight()" style="cursor:pointer;vertical-align: middle">皮重</span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div style="float: left;padding-left: 61px">
                                                <label style="display:block;float:left;"> 货主： </label>
                                                <input type="text" id="sellmanname" name="sellmanname" style="width:125px"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 38px">
                                                <label class="col-sm-4 control-label no-padding-right" style="width:70px;padding-left:0px"> 粮食性质：</label>
                                                <div class="col-sm-4" style="width:125px;padding-left:0px">
                                                    <select id="grainattrid" name="grainattrid" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="float: left;padding-left: 24px">
                                                <label> 净重：</label>
                                                <input type="text" id="netweight" name="netweight" style="width:80px"/>
                                            </div>
                                            <div style="float: left;padding-left: 10px;height:29.4px;line-height: 29.4px">
                                                <label style="display:block;float:left;color:red"> =(毛重-皮重)</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div style="float: left;padding-left: 5px">
                                                <label style="display:block;float:left;">水分增加扣率： </label>
                                                <input type="text" id="wdeduratex" name="wdeduratex" style="width:125px"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label style="display:block;float:left;">杂质增加扣率： </label>
                                                <input type="text" id="ideduratex" name="ideduratex" style="width:110px"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 11px">
                                                <label> 增加扣重：</label>
                                                <input type="text" id="extradedu" name="extradedu" style="width:80px"/>
                                            </div>
                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:5px"/>
                                        <div class="col-xs-12">
                                            <div class="table-responsive">
                                                    <table id="myTable" style="width:100%" class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th class="center" style="width: 20px"></th>
                                                            <th class="center" style="width: 20px;">
                                                                <label>
                                                                    <input id="CK" type="checkbox" class="ace"/>
                                                                    <span class="lbl"></span>
                                                                </label>
                                                            </th>
                                                            <th style="width: 200px">登记流水号</th>
                                                            <th style="width: 100px">车牌号</th>
                                                            <th style="width: 100px">货主</th>
                                                            <th style="width: 100px">皮重状态</th>
                                                            <th style="width: 100px">毛重状态</th>
                                                            <th style="width: 100px">操作</th>
                                                        </tr>
                                                        </thead>
                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /span -->
                            </div>
                            <div class="row" style="float: right;padding-right: 12px">
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-arrow-left icon-on-left"></i>
                                    前一单
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-arrow-right icon-on-right"></i>
                                    后一单
                                </a>
                                <OBJECT id=rd codeBase="comRD800.cab" WIDTH="10" HEIGHT="0"
                                        classid="clsid:638B238E-EB84-4933-B3C8-854B86140668">
                                </OBJECT>
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-credit-card"></i>
                                    刷卡查单
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-save"></i>
                                    保存写卡
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-save"></i>
                                    保存
                                </a>
                                <a class="btn btn-success" style="border: 0;width: 120px;padding-left:10px">
                                    <i class="icon-undo"></i>
                                    取消
                                </a>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container-inner -->

</div>
<!-- /.main-container -->


<script type="text/javascript">
    var theTable;
    var param;
    $(document).ready(function () {
        comm_initGrain();
        comm_initGrainattr();
        comm_initStorage(param);
        //param todo
        query(param);
    });
    function query(param) {
        theTable = $('#myTable').bootstrapTable({
            //数据来源（包括处理分页，排序，过滤） ，即url，action，接口，等等
            ajax: {
                url: "/graindepot-inout/weight/newInPageList",
                data: param,
                type: "GET"
            },
            iDisplayLength:3,
            columns: [
                {title:"登记流水号", data: "billcode"},
                {title:"车牌号", data: "trucknum"},
                {title: "货主", data: "sellmanname"},
                {
                    title: "毛重状态",
                    data: "gwstate",
                    render: function (data, type, row) {
                        if(data==1){
                            return '<span class="label label-sm label-success">已称重</span>';
                        }else{
                            return '<span class="label label-sm label-warning">未称重</span>';
                        }

                    }
                },
                {
                    title: "皮重状态",
                    data: "tarestate",
                    render: function (data, type, row) {
                        if(data==1){
                            return '<span class="label label-sm label-success">已称重</span>';
                        }else{
                            return '<span class="label label-sm label-warning">未称重</span>';
                        }

                    }
                },
                {
                    title: "操作",
                    data: "billid",
                    render: function (data,type,row){
                        var obj=encodeURI(encodeURI(JSON.stringify(row)));
                        return '<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">'+
                                    /*'<a class="blue" href="javascript:doView('+'\''+obj+'\')">'+
                                        '<i class="icon-zoom-in bigger-130"></i>'+
                                    '</a>'+*/
                                    '<a class="green" href="javascript:doEdit('+'\''+obj+'\')">'+
                                        '<i class="icon-pencil bigger-130"></i>'+
                                    '</a>'+
                                '</div>';
                    }
                }
            ]
        });
    }
    function doEdit(obj){
        var obj=JSON.parse(decodeURI(obj));
        $("#billcode").val(obj.billcode);
        $("#storageid").val(obj.storageid);
        $("#grossweight").val(obj.grossweight);
        $("#tareweight").val(obj.tareweight);
        $("#netweight").val(obj.netweight);
        $("#sellmanname").val(obj.sellmanname);
        $("#trucknum").val(obj.trucknum);
        $("#extradedu").val(obj.extradedu);
        $("#storageid").bootstrapSelect("setValue", obj.storageid);
        $("#grainid").bootstrapSelect("setValue", obj.grainid);
        $("#grainattrid").bootstrapSelect("setValue", obj.grainattrid);

        //查询保管员增加扣率
        var param={"billid":obj.billid};
        var url="/graindepot-inout/inspect/selectById";
        var data=getDataJson(url,param);
        if(data!=undefined){
            $("#wdeduratex").val(data.wdeduratex);
            $("#ideduratex").val(data.ideduratex);
        }else{
            $("#wdeduratex").val("");
            $("#ideduratex").val("");
        }
    }
    function doView(obj){

    }
    function  setGrossWeight(){
        $("#grossweight").val($("#weight").val().trim());
        var grossweight=$("#grossweight").val();
        var tareweight=$("#tareweight").val();
        if(grossweight!=""&&tareweight!=""){
            $("#netweight").val(grossweight-tareweight);
        }
    }
    function  setTareWeight(){
        $("#tareweight").val($("#weight").val().trim());
        var grossweight=$("#grossweight").val();
        var tareweight=$("#tareweight").val();
        if(grossweight!=""&&tareweight!=""){
            $("#netweight").val(grossweight-tareweight);
        }
    }
</script>
</body>
</html>