<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::head(${title})">
</head>


<link th:href="@{/assets/css/select/bootstrap-select.min.css}" rel="stylesheet" media="screen">
<script th:src="@{/assets/js/select/bootstrap-select.js}"></script>
<script th:src="@{/assets/js/select/defaults-zh_CN.js}"></script>
<link th:href="@{/assets/js/uploadify/uploadify.css}" rel="stylesheet" type="text/css">
<script th:src="@{/assets/js/uploadify/jquery.uploadify.js}"></script>


<body style="overflow-x: hidden">
<form class="form-horizontal" role="form" id="validation-form" method="get">

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="grainid"> 粮食品种: </label>

        <div class="col-sm-4">
            <select id="grainid" name="grainid" class="form-control" th:value="${item.grainid}">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="inspectitemid"> 检验项目: </label>

        <div class="col-sm-4">
            <select id="inspectitemid" name="inspectitemid" class="form-control" th:value="${item.inspectitemid}">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="isdedu">
            是否有升扣规则:
        </label>
        <div class="col-sm-4">
            <select id="isdedu" name="isdedu" class="form-control"
                    th:value="${item.isdedu}">
            </select>
        </div>
    </div>

    <div class="hasStandard">
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" for="gradesame">
                各等级标准是否相同:
            </label>
            <div class="col-sm-4">
                <select id="gradesame" name="gradesame" class="form-control"
                        th:value="${item.gradesame}">
                </select>
            </div>
        </div>

        <div class="form-group gradeValue">
            <label class="col-sm-4 control-label no-padding-right" for="gradeValue"> 标准值: </label>

            <div class="col-sm-4">
                <input size="16" type="text" name="gradeValue" id="gradeValue"
                       class="form-control">
            </div>
        </div>

        <div class="form-group grade">
            <label class="col-sm-4 control-label no-padding-right" for="grade1"> 一等标准值: </label>

            <div class="col-sm-4">
                <input size="16" type="text" name="grade1" id="grade1"
                       th:value="${item.grade1}" class="form-control">
            </div>
        </div>
        <div class="form-group grade">
            <label class="col-sm-4 control-label no-padding-right" for="grade2"> 二等标准值: </label>

            <div class="col-sm-4">
                <input size="16" type="text" name="grade2" id="grade2"
                       th:value="${item.grade2}" class="form-control">
            </div>
        </div>
        <div class="form-group  grade">
            <label class="col-sm-4 control-label no-padding-right" for="grade3"> 三等标准值: </label>

            <div class="col-sm-4">
                <input size="16" type="text" name="grade3" id="grade3"
                       th:value="${item.grade3}" class="form-control">
            </div>
        </div>
        <div class="form-group  grade">
            <label class="col-sm-4 control-label no-padding-right" for="grade4"> 四等标准值: </label>

            <div class="col-sm-4">
                <input size="16" type="text" name="grade4" id="grade4"
                       th:value="${item.grade4}" class="form-control">
            </div>
        </div>
        <div class="form-group  grade">
            <label class="col-sm-4 control-label no-padding-right" for="grade5"> 五等标准值: </label>

            <div class="col-sm-4">
                <input size="16" type="text" name="grade5" id="grade5"
                       th:value="${item.grade5}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" for="upperlimit"> 增扣上限: </label>

            <div class="col-sm-4">
                <input size="16" type="text" name="upperlimit" id="upperlimit"
                       th:value="${item.upperlimit}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" for="lowerlimit"> 增扣下限: </label>

            <div class="col-sm-4">
                <input size="16" type="text" name="lowerlimit" id="lowerlimit"
                       th:value="${item.lowerlimit}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" for="upperstandard"> 升扣规则: </label>

            <div class="col-sm-4">
                每高于
                <input size="16" type="text" name="upperstandard" id="upperstandard"
                       th:value="${item.upperstandard}" class="form-control">
                扣量
                <input size="16" type="text" name="upperamount" id="upperamount"
                       th:value="${item.upperamount}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" for="lowerstandard"> 升扣规则: </label>

            <div class="col-sm-4">
                每低于
                <input size="16" type="text" name="lowerstandard" id="lowerstandard"
                       th:value="${item.lowerstandard}" class="form-control">
                扣量
                <input size="16" type="text" name="loweramount" id="loweramount"
                       th:value="${item.loweramount}" class="form-control">

            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="orderno"> 排序号: </label>

        <div class="col-sm-4">
            <input size="16" type="text" name="orderno" id="orderno"
                   th:value="${item.orderno}" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 center">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                保存
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="button" onclick="toBack()">
                <i class="icon-arrow-left bigger-110"></i>
                返回
            </button>
        </div>
    </div>

</form>

</body>
</html>
<style>
    .grade {
        display: none;
    }
    .hasStandard {
        display: none;
    }
</style>
<script th:inline="javascript">
    var urlPrefix = "/graindepot-inout";
    var g_id = [[${id}]];
    var g_item = [[${item}]];
    $(function () {
        //初始化form验证
        initForm();
        //初始化下拉框
        initGrain();
        initGradesame();
        initInspectItem();
        initIsDedu();
        if (g_item&&g_item.gradesame==1){
            $("#gradeValue").val(g_item.grade1)
        }

    });

    function initGrain() {
        $("#grainid").bootstrapSelect({
            url: '/graindepot-base/selector/grainList',
            type: 'GET',
            valueField: 'grainid',
            textField: 'grainname',
            defaultValue: g_item.grainid
        });
    }

    function initGradesame() {
        var data = [{value: 1, text: "相同"}, {value: 0, text: "不相同"}];
        $("#gradesame").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            all: false,
            defaultValue: g_item.gradesame == 0 ? 0 : 1,
            onSelect: function (value) {
                if (value == 1) {
                    $(".grade").css("display", "none")
                    $(".gradeValue").css("display", "block")
                } else {
                    $(".grade").css("display", "block")
                    $(".gradeValue").css("display", "none")
                }
            }
        });
    }
    function initIsDedu() {
        var data = [{value: 1, text: "有"}, {value: 0, text: "无"}];
        $("#isdedu").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            all: false,
            defaultValue: g_item.isdedu == 0 ? 0 : 1,
            onSelect: function (value) {
                if (value == 1) {
                    $(".hasStandard").css("display", "block")
                } else {
                    $(".hasStandard").css("display", "none")
                }
            }
        });
    }

    function initInspectItem() {
        $("#inspectitemid").bootstrapSelect({
            url: urlPrefix + '/grainInspectItem/inspectItem/list',
            type: 'GET',
            valueField: 'inspectitemid',
            textField: 'itemname',
            defaultValue: g_item.inspectitemid,
            onSelect: function (value) {

            }
        });
    }

    function toBack() {
        parent.$.bootstrapBox.dialog.close();
    }

    function initForm() {
        $('#validation-form').bootstrapValidator()
            .on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();
                var param = turnArrayToJson($('form').serializeArray());
                console.log(param);
                if (g_id) {
                    param.keyid = g_id
                }
                if (param.gradesame == 1) {
                    param.grade1 = param.gradeValue;
                    param.grade2 = param.gradeValue;
                    param.grade3 = param.gradeValue;
                    param.grade4 = param.gradeValue;
                    param.grade5 = param.gradeValue;
                }
                if (param.isdedu==0){
                    param.upperlimit=undefined;
                    param.lowerlimit=undefined;
                    param.upperstandard=undefined;
                    param.upperamount=undefined;
                    param.lowerstandard=undefined;
                    param.loweramount=undefined;
                    param.grade1=undefined;
                    param.grade2=undefined;
                    param.grade3=undefined;
                    param.grade4=undefined;
                    param.grade5=undefined;
                    param.grade6=undefined;
                    param.gradesame=undefined;
                }
                $.post(urlPrefix + "/grainInspectItem/edit", param, function (result) {
                    parent.toSave(result)
                })
            });
    }

</script>