<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--稻谷类质检指标-->
<div th:fragment="gqitem1">
    <div class="form-group">
        <div style="float: left;padding-left: 38px">
            <label> 水分率： </label>
            <input type="text" id="waterrate" name="waterrate" style="width:80px"/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 杂质率： </label>
            <input type="text" id="impurate" name="impurate"  style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 出糙率： </label>
            <input type="text" id="brrate" name="brrate" style="width:80px" id="id"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 52px">
            <label> 出米率： </label>
            <input type="text" id="cmlrate" name="cmlrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 整精米率： </label>
            <input type="text" id="zjmlrate" name="zjmlrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 谷外糙米率： </label>
            <input type="text" id="gwcmrate" name="gwcmrate" style="width:80px"
                   placeholder=""/>
        </div>
    </div>
    <div class="form-group">
        <div style="float: left;padding-left: 24px">
            <label> 水分扣率： </label>
            <input type="text" id="waterdedurate" name="waterdedurate" style="width:80px"/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 杂质扣率： </label>
            <input type="text" id="impudedurate" name="impudedurate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 216px">
            <label> 出米扣率： </label>
            <input type="text" id="cmldedurate" name="cmldedurate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 整精米扣率： </label>
            <input type="text" id="zjmldedurate" name="zjmldedurate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 10px">
            <label> 谷外糙米扣率： </label>
            <input type="text" id="gwcmdedurate" name="gwcmdedurate" style="width:80px"
                   placeholder=""/>
        </div>
    </div>
    <div class="form-group">
        <div style="float: left;padding-left: 24px">
            <label> 黄粒米率： </label>
            <input type="text" id="yrkrate" name="yrkrate" style="width:80px"/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 互混率： </label>
            <input type="text" id="hhlrate" name="hhlrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 色泽气味： </label>
            <input type="text" id="colorodor" name="colorodor" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 品尝评分值： </label>
            <input type="text" id="tastescore" name="tastescore" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 矿物质率： </label>
            <input type="text"  id="mineralrate" name="mineralrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 脂肪酸值： </label>
            <input type="text" id="fattyacid" name="fattyacid" style="width:80px"
                   placeholder=""/>
        </div>
    </div>
    <div class="form-group">
        <div style="float: left;padding-left: 10px">
            <label> 黄粒米扣率： </label>
            <input type="text" id="yrkdedurate" name="yrkdedurate" style="width:80px"/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 互混扣率： </label>
            <input type="text" id="hhldedurate" name="hhldedurate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 230px">
            <label> 爆腰率： </label>
            <input type="text" id="baoyaorate" name="baoyaorate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 11px">
            <label> 重金属(ppm)： </label>
            <input type="text" id="zjs" name="zjs" style="width:80px"
                   placeholder=""/>
        </div>
    </div>
    <div class="form-group">
        <div style="float: left;padding-left: 10px">
            <label> 铅(mg/Kg)： </label>
            <input type="text" id="qian" name="qian" style="width:80px"/>
        </div>
        <div style="float: left;padding-left: 10px">
            <label> 镉(mg/Kg)： </label>
            <input type="text" id="ge1" name="ge1" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 10px;">
            <label> 汞(mg/Kg)： </label>
            <input type="text" id="gong" name="gong" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 铬(mg/Kg)： </label>
            <input type="text" id="ge2" name="ge2" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 10px">
            <label> 总砷(mg/Kg)： </label>
            <input type="text" id="zongshen" name="zongshen" style="width:80px"
                   placeholder=""/>
        </div>
    </div>
</div>
<!--小麦类质检指标-->
<div th:fragment="gqitem2">
    <div class="form-group">
        <div style="float: left;padding-left: 24px">
            <label> 水分率： </label>
            <input type="text" id="waterrate" name="waterrate" style="width:80px"/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 杂质率： </label>
            <input type="text" id="impurate" name="impurate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 20px">
            <label> 容重(g/L)： </label>
            <input type="text" id="bulkdensity" name="bulkdensity" style="width:80px" id="id"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 不完善粒： </label>
            <input type="text" id="ukrate" name="ukrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 呕吐霉素： </label>
            <input type="text" id="otms" name="otms" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 54px">
            <label> 互混率： </label>
            <input type="text" id="hhlrate" name="hhlrate"  style="width:80px"
                   placeholder=""/>
        </div>
    </div>
    <div class="form-group">
        <div style="float: left;padding-left: 10px">
            <label> 水分扣率： </label>
            <input type="text" id="waterdedurate" name="waterdedurate" style="width:80px"/>
        </div>
        <div style="float: left;padding-left: 10px">
            <label> 杂质扣率： </label>
            <input type="text" id="impudedurate" name="impudedurate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 容重扣率： </label>
            <input type="text" id="bulkdensitydedurate" name="bulkdensitydedurate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 不完善扣率： </label>
            <input type="text" id="ukdedurate" name="ukdedurate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 10px">
            <label> 呕吐霉素扣率： </label>
            <input type="text" id="otmsdedurate" name="otmsdedurate" style="width:80px"
                   placeholder=""/>
        </div>
    </div>
    <div class="form-group">
        <div style="float: left;padding-left: 10px">
            <label> 色泽气味： </label>
            <input type="text" id="colorodor" name="colorodor" style="width:80px"/>
        </div>
        <div style="float: left;padding-left: 10px">
            <label> 硬度指数： </label>
            <input type="text" id="ydzsrate" name="ydzsrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 赤霉病粒： </label>
            <input type="text" id="scabrate" name="scabrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 面筋吸水量： </label>
            <input type="text" id="glutenwaterabso" name="glutenwaterabso" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 52px">
            <label> 生霉粒： </label>
            <input type="text" id="smlrate" name="smlrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 矿物质率： </label>
            <input type="text" id="mineralrate" name="mineralrate" style="width:80px"
                   placeholder=""/>
        </div>
    </div>
    <div class="form-group">
        <div style="float: left;padding-left: 24px">
            <label> 破损粒： </label>
            <input type="text" id="pslrate" name="pslrate" style="width:80px"/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 霉芽粒： </label>
            <input type="text" id="mblrate" name="mblrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 38px">
            <label> 虫蚀粒： </label>
            <input type="text" id="cslrate" name="cslrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 52px">
            <label> 病斑粒： </label>
            <input type="text" id="bblrate" name="bblrate" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 24px">
            <label> 品尝评分值： </label>
            <input type="text" id="tastescore" name="tastescore" style="width:80px"
                   placeholder=""/>
        </div>
        <div style="float: left;padding-left: 11px">
            <label> 重金属(ppm)： </label>
            <input type="text" id="zjs" name="zjs" style="width:80px"
                   placeholder=""/>
        </div>
    </div>
    <!--稻谷类质检指标-无扣率-->
    <div th:fragment="gqitem3">
        <div class="form-group">
            <div style="float: left;padding-left: 24px">
                <label> 水分率： </label>
                <input type="text" id="waterrate" name="waterrate" style="width:50px"/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 杂质率： </label>
                <input type="text" id="impurate" name="impurate"  style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 24px">
                <label> 出糙率： </label>
                <input type="text" id="brrate" name="brrate" style="width:50px" id="id"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 38px">
                <label> 出米率： </label>
                <input type="text" id="cmlrate" name="cmlrate" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 整精米率： </label>
                <input type="text" id="zjmlrate" name="zjmlrate" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 谷外糙米率： </label>
                <input type="text" id="gwcmrate" name="gwcmrate" style="width:50px"
                       placeholder=""/>
            </div>
        </div>

        <div class="form-group">
            <div style="float: left;padding-left: 10px">
                <label> 黄粒米率： </label>
                <input type="text" id="yrkrate" name="yrkrate" style="width:50px"/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 互混率： </label>
                <input type="text" id="hhlrate" name="hhlrate" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 色泽气味： </label>
                <input type="text" id="colorodor" name="colorodor" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 品尝评分值： </label>
                <input type="text" id="tastescore" name="tastescore" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 矿物质率： </label>
                <input type="text"  id="mineralrate" name="mineralrate" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 24px">
                <label> 脂肪酸值： </label>
                <input type="text" id="fattyacid" name="fattyacid" style="width:50px"
                       placeholder=""/>
            </div>
        </div>

    </div>
    <!--小麦类质检指标-无扣率-->
    <div th:fragment="gqitem4">
        <div class="form-group">
            <div style="float: left;padding-left: 24px">
                <label> 水分率： </label>
                <input type="text" id="waterrate" name="waterrate" style="width:50px"/>
            </div>
            <div style="float: left;padding-left: 24px">
                <label> 杂质率： </label>
                <input type="text" id="impurate" name="impurate" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 容重(g/L)： </label>
                <input type="text" id="bulkdensity" name="bulkdensity" style="width:50px" id="id"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 24px">
                <label> 不完善粒： </label>
                <input type="text" id="ukrate" name="ukrate" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 38px">
                <label> 互混率： </label>
                <input type="text" id="hhlrate" name="hhlrate"  style="width:50px"
                       placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div style="float: left;padding-left: 10px">
                <label> 色泽气味： </label>
                <input type="text" id="colorodor" name="colorodor" style="width:50px"/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 硬度指数： </label>
                <input type="text" id="ydzsrate" name="ydzsrate" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 14px">
                <label> 赤霉病粒： </label>
                <input type="text" id="scabrate" name="scabrate" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 10px">
                <label> 面筋吸水量： </label>
                <input type="text" id="glutenwaterabso" name="glutenwaterabso" style="width:50px"
                       placeholder=""/>
            </div>
            <div style="float: left;padding-left: 24px">
                <label> 矿物质率： </label>
                <input type="text" id="mineralrate" name="mineralrate" style="width:50px"
                       placeholder=""/>
            </div>
        </div>
</div>
</body>
</html>