<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>智能粮库云平台</title>

</head>

<body>
<div>
    <script th:src="@{../js/huashi.js}"></script>
    <script th:src="@{../js/d8.js}"></script>
    <div th:replace="navbar::navbar"></div>
    <div class="main-container-inner">
        <div class="main-content" id="main-content" style="float: left;margin-left:0px;width:100%">
            <div class="page-content" style="padding:10px 30px 0px">
                <div class="page-header">
                    <h1>
                        扦样检验
                        <small>
                            <i class="icon-double-angle-right"></i>

                        </small>
                    </h1>
                </div>
                <!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4" style="border:1px solid #CCC;padding:3px;width:100%">
                                    <div style="width: 100%;height:100%;padding-left:20px;float: left">
                                        <div class="form-group">
                                            <div style="float: left;padding-left: 10px">
                                                <label style="display:block;float:left;">登记日期：</label>

                                                <div style="float: left;width:150px">
                                                    <div class="input-group" style="float: left">
                                                        <input class="form-control date-picker" id="id-date-picker-1"
                                                               type="text" data-date-format="yyyy-mm-dd">
                                                                            <span class="input-group-addon">
                                                                                <i class="icon-calendar bigger-110"></i>
                                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label style="display:block;float:left;"> 登记流水号： </label>
                                                <input type="text" style="width:190px"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label class="col-sm-4 control-label no-padding-right" style="width:90px;padding-left:0px"> 检验结果： </label>
                                                <div class="col-sm-4" style="width:130px;padding-left:0px">
                                                    <select id="inspresult" name="inspresult" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:15px"/>
                                        <div class="form-group">
                                            <div style="float: left;padding-left: 10px">
                                                <label class="col-sm-4 control-label no-padding-right" style="width:70px;padding-left:0px"> 仓房号： </label>
                                                <div class="col-sm-4" style="width:150px;padding-left:0px">
                                                    <select id="storageid" name="storageid" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label class="col-sm-4 control-label no-padding-right" style="width:80px;padding-left:0px"> 粮食品种：</label>
                                                <div class="col-sm-4" style="width:150px;padding-left:0px">
                                                    <select id="grainid" name="grainid" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label class="col-sm-4 control-label no-padding-right" style="width:80px;padding-left:0px"> 粮食性质：</label>
                                                <div class="col-sm-4" style="width:150px;padding-left:0px">
                                                    <select id="grainattrid" name="grainattrid" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div style="float: left;padding-left: 10px">
                                                <label> 收获年度： </label>
                                                <input type="text" style="width:50px"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label class="col-sm-4 control-label no-padding-right" style="width:90px;padding-left:0px"> 粮食等级：</label>
                                                <div class="col-sm-4" style="width:120px;padding-left:0px">
                                                    <select id="grade" name="grade" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label class="col-sm-4 control-label no-padding-right" style="width:70px;padding-left:0px"> 计划安排： </label>
                                                <div class="col-sm-4" style="width:120px;padding-left:0px">
                                                    <select id="inplanid" name="inplanid" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label class="col-sm-4 control-label no-padding-right" style="width:70px;padding-left:0px"> 合同号：</label>
                                                <div class="col-sm-4" style="width:130px;padding-left:0px">
                                                    <select id="contractid" name="contractid" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="margin-bottom:5px;margin-top:15px"/>
                                        <div class="form-group">
                                            <div style="float: left;padding-left: 10px">
                                                <label> &#12288;水分率： </label>
                                                <input type="text" style="width:80px"/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label> &#12288;杂质率： </label>
                                                <input type="text" style="width:80px"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label> 出糙率： </label>
                                                <input type="text" style="width:80px" id="id"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label> 出米率： </label>
                                                <input type="text" style="width:80px" id="id"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label> 出糙率： </label>
                                                <input type="text" style="width:80px" id="id"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label> 整精米率： </label>
                                                <input type="text" style="width:80px" id="id"
                                                       placeholder=""/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label> 谷外糙米： </label>
                                                <input type="text" style="width:80px" id="id"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div style="float: left;padding-left: 10px">
                                                <label> 水分扣率： </label>
                                                <input type="text" id="username" style="width:80px"/>
                                            </div>
                                            <div style="float: left;padding-left: 10px">
                                                <label> 杂质扣率： </label>
                                                <input type="text" style="width:80px" id="telphone"
                                                       placeholder=""/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div style="float: left;padding-left: 10px">
                                                <label>填制部门：</label>

                                                <select class="chosen-select" style="width:150px;"
                                                        data-placeholder="选择一个部门...">
                                                    <option value="">&nbsp;</option>
                                                    <option value="1">部门1</option>
                                                    <option value="2">部门2</option>
                                                </select>
                                            </div>
                                            <div style="float: left;height:30px;padding-left: 10px;vertical-align: bottom">
                                                <label style="line-height: 30px"> 检验员： </label>
                                                <label style="line-height: 30px"> 张三 </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /span -->
                            </div>
                            <div class="row" style="float: right;padding-right: 12px">
                                <button class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-save"></i>
                                    保存写卡
                                </button>
                                <button class="btn btn-success" style="border: 0;width: 120px;">
                                    <i class="icon-save"></i>
                                    保存
                                </button>
                                <button class="btn btn-success" style="border: 0;width: 120px;padding-left:10px">
                                    <i class="icon-plus-sign"></i>
                                    新增
                                </button>
                                <button class="btn btn-success" style="border: 0;width: 120px;padding-left:10px">
                                    <i class="icon-undo"></i>
                                    取消
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container-inner -->

</div>
<!-- /.main-container -->

<script  th:inline="javascript">
    jQuery(function ($) {
        initInspresult();
        initGrain();
        initGrainattr();
        initGrade();
    });
    function initInspresult(){
        var data = [{value: 1, text: "待检"}, {value: 2, text: "接收"}, {value: 3, text: "不接收"}];
        $("#inspresult").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            defaultValue: 1
        });
    }
    function initGrain() {
        $("#grainid").bootstrapSelect({
            url: '/graindepot-base/selector/grainList',
            type: 'GET',
            valueField: 'grainid',
            textField: 'grainname'
        });
    }
    function initGrainattr() {
        $("#grainattrid").bootstrapSelect({
            url:  '/graindepot-base/selector/grainattrList',
            type: 'GET',
            valueField: 'grainattrid',
            textField: 'grainattrname'
        });
    }
    function initGrade(){
        var data = [{value: 1, text: "一等"}, {value: 2, text: "二等"}, {value: 3, text: "三等"}
            , {value: 4, text: "四等"}, {value: 5, text: "五等"}, {value: 6, text: "等外"}];
        $("#grade").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            defaultValue: 3
        });
    }
</script>
</body>
</html>