<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>智能粮库云平台</title>
    <!-- basic styles -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome-ie7.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/jquery-ui-1.10.3.custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/chosen.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-timepicker.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/colorpicker.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}"/>
    <script th:src="@{/assets/js/ace-extra.min.js}"></script>
    <script th:src="@{/assets/js/html5shiv.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <script th:inline="javascript">
        var ctx = [[${ctx}]];
    </script>
</head>

<body>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <div th:replace="header::header"></div>
    <div class="main-container-inner">
        <div id="sidebar" class="sidebar" style="float: left">
        </div>
        <div class="main-content" id="main-content" style="float: left;margin-left:0px">
            <div class="page-content" style="padding:10px 20px 0px">
                <div class="page-header">
                    <h1>
                        入库登记
                        <small>
                            <i class="icon-double-angle-right"></i>

                        </small>
                    </h1>
                </div>
                <!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4" style="border:1px solid #CCC;padding:3px;width:100%">
                                                <div style="width: 40%;height:100%;float: left">
                                                    <div style="width: 100%;height:50%;background-color: #E0FFFF;text-align: center;">
                                                        <label style="height:100%;line-height: 250px;font-size: 40px;color:#000">身份证画面</label>
                                                    </div>
                                                    <div style="width: 100%;height:50%;text-align: center;">

                                                        <div style="float:left;width: 70%;height:100%;background-color: black;text-align: center;">
                                                            <label style="height:100%;line-height: 250px;font-size: 40px;color:#fff">监控画面</label>
                                                        </div>
                                                        <div style="float:left;width: 30%;height:100%;text-align: center;">
                                                            <div style="width: 100%;">
                                                                <label for="form-field-select-2">自动抓拍车牌列表</label>

                                                                <select class="form-control" id="form-field-select-2"
                                                                        multiple="multiple" style="height: 160px">
                                                                    <option value="AL">苏BA3G19</option>
                                                                    <option value="AK">苏BH3433</option>
                                                                    <option value="AZ">苏A23232</option>
                                                                    <option value="AR">苏876822</option>
                                                                    <option value="CA">苏C89333</option>
                                                                    <option value="CO">苏897923</option>
                                                                </select>
                                                            </div>
                                                            <button class="btn btn-primary"
                                                                    style="margin-top: 10px;width:90%">
                                                                <i class="icon-camera"></i>
                                                                车牌识别
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div style="width: 60%;height:100%;padding-left:20px;float: left">
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">结算单模板：</label>

                                                            <select class="chosen-select" style="width:130px;"
                                                                    id="form-field-select-3"
                                                                    data-placeholder="选择一个模板...">
                                                                <option value="">&nbsp;</option>
                                                                <option value="1">早籼稻收购</option>
                                                                <option value="2">晚籼稻收购</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">检斤方式：</label>

                                                            <select class="chosen-select" style="width:130px;"
                                                                    id="form-field-select-4"
                                                                    data-placeholder="选择一个检斤方式...">
                                                                <option value="1">一单一车</option>
                                                                <option value="2">一单多车</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">结算类型：</label>

                                                            <select class="chosen-select" style="width:150px;"
                                                                    id="form-field-select-5"
                                                                    data-placeholder="选择一个检斤方式...">
                                                                <option value="1">现金</option>
                                                                <option value="2">银行卡</option>
                                                                <option value="3">微信</option>
                                                                <option value="4">支付宝</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr style="margin-bottom:5px;margin-top:15px"/>
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px;height:30px;vertical-align: top">
                                                            <div style="float: left;height:100%;vertical-align: top;margin-top: -3px;">
                                                                <label class="control-label"
                                                                       style="height:100%;line-height: 100%;vertical-align: top;">售粮性质：</label>
                                                            </div>
                                                            <div class="radio"
                                                                 style="float: left;height:100%;vertical-align: top;margin-top: -8px">
                                                                <label>
                                                                    <input name="form-field-radio" type="radio"
                                                                           value="1"
                                                                           class="ace"/>
                                                                    <span class="lbl"> 个人</span>
                                                                </label>
                                                                <label>
                                                                    <input name="form-field-radio" type="radio"
                                                                           value="2"
                                                                           class="ace"/>
                                                                    <span class="lbl"> 单位</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div style="float: left;padding-left: 54px">
                                                            <label for="form-field-select-3">售粮单位：</label>

                                                            <select class="chosen-select" style="width:300px;"
                                                                    id="form-field-select-6"
                                                                    data-placeholder="选择一个售粮单位...">
                                                                <option value="">&nbsp;</option>
                                                                <option value="2">张三</option>
                                                                <option value="3">李四</option>
                                                                <option value="4">王五</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr style="margin-bottom:5px;margin-top:15px"/>
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> *售粮人： </label>
                                                            <input type="text" id="username" placeholder=""/>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 联系电话： </label>
                                                            <input type="text" style="width:110px" id="telphone"
                                                                   placeholder=""/>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 身份证号： </label>
                                                            <input type="text" style="width:160px" id="id"
                                                                   placeholder=""/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 联系地址： </label>
                                                            <input type="text" id="address" style="width:300px"
                                                                   placeholder=""/>
                                                        </div>
                                                        <button class="btn btn-primary"
                                                                style="margin-left:15px;border:0">
                                                            <i class="icon-credit-card"></i>
                                                            售粮人身份证
                                                        </button>
                                                        <button class="btn btn-primary"
                                                                style="margin-left:5px;border:0">
                                                            <i class="icon-globe"></i>
                                                            微信扫码
                                                        </button>
                                                    </div>
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">车船类型：</label>

                                                            <select class="chosen-select" style="width:150px;"
                                                                    data-placeholder="选择一个模板...">
                                                                <option value="1">货车</option>
                                                                <option value="2">火车</option>
                                                                <option value="3">船</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 车船号： </label>
                                                            <input type="text" id="" style="width:100px"
                                                                   placeholder=""/>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px;display: none">
                                                            <label> 承运单位： </label>
                                                            <input type="text" id="" style="width:220px"
                                                                   placeholder=""/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="display: none">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 承运人： </label>
                                                            <input type="text" id="" style="width:100px"
                                                                   placeholder=""/>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 承运人身份证： </label>
                                                            <input type="text" style="width:180px" id=""
                                                                   placeholder=""/>
                                                        </div>
                                                        <button class="btn btn-primary"
                                                                style="margin-left:5px;border:0">
                                                            <i class="icon-credit-card"></i>
                                                            承运人身份证
                                                        </button>
                                                        <button class="btn btn-primary"
                                                                style="margin-left:5px;border:0">
                                                            <i class="icon-globe"></i>
                                                            微信扫码
                                                        </button>
                                                    </div>
                                                    <hr style="margin-bottom:5px;margin-top:15px"/>
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">粮食品种：</label>

                                                            <select class="chosen-select" style="width:100px;"
                                                                    data-placeholder="选择一个品种...">
                                                                <option value="1">小麦</option>
                                                                <option value="2">粳稻</option>
                                                                <option value="3">籼稻</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 收获年度： </label>
                                                            <input type="text" id="" style="width:50px"
                                                                   placeholder=""/>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">计划安排：</label>

                                                            <select class="chosen-select" style="width:120px;"
                                                                    data-placeholder="选择一个计划...">
                                                                <option value="1">计划1</option>
                                                                <option value="2">计划2</option>
                                                                <option value="3">计划3</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">合同号：</label>

                                                            <select class="chosen-select" style="width:130px;"
                                                                    data-placeholder="选择一个合同...">
                                                                <option value="1">合同1</option>
                                                                <option value="2">合同2</option>
                                                                <option value="3">合同3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr style="margin-bottom:5px;margin-top:15px"/>
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">包装方式：</label>

                                                            <select class="chosen-select" style="width:100px;"
                                                                    data-placeholder="选择一个包装方式...">
                                                                <option value="1">散装</option>
                                                                <option value="2">包装</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 总包数： </label>
                                                            <input type="text" id="" style="width:50px"
                                                                   placeholder=""/>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 自报数量（千克）： </label>
                                                            <input type="text" id="" style="width:80px"
                                                                   placeholder=""/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">调入省份：</label>

                                                            <select class="chosen-select" style="width:100px;"
                                                                    data-placeholder="选择一个省份...">
                                                                <option value="">&nbsp;</option>
                                                                <option value="1">江苏</option>
                                                                <option value="2">安徽</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">市（州）：</label>

                                                            <select class="chosen-select" style="width:100px;"
                                                                    data-placeholder="选择一个市...">
                                                                <option value="">&nbsp;</option>
                                                                <option value="1">南京</option>
                                                                <option value="2">无锡</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 源产地： </label>
                                                            <input type="text" id="" style="width:100px"
                                                                   placeholder=""/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">入库原由：</label>

                                                            <select class="chosen-select" style="width:150px;"
                                                                    data-placeholder="选择一个原由...">
                                                                <option value="">&nbsp;</option>
                                                                <option value="1">轮入</option>
                                                                <option value="2">其他收入</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">购进方式：</label>

                                                            <select class="chosen-select" style="width:150px;"
                                                                    data-placeholder="选择一个购进方式...">
                                                                <option value="">&nbsp;</option>
                                                                <option value="1">从生产者购进</option>
                                                                <option value="2">从企业购进</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label> 备注： </label>
                                                            <input type="text" id="" style="width:100px"
                                                                   placeholder=""/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">填制部门：</label>

                                                            <select class="chosen-select" style="width:150px;"
                                                                    data-placeholder="选择一个部门...">
                                                                <option value="">&nbsp;</option>
                                                                <option value="1">部门1</option>
                                                                <option value="2">部门2</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;padding-left: 10px">
                                                            <label for="form-field-select-3">业务员：</label>

                                                            <select class="chosen-select" style="width:100px;"
                                                                    data-placeholder="选择一个业务员...">
                                                                <option value="">&nbsp;</option>
                                                                <option value="1">业务员1</option>
                                                                <option value="2">业务员2</option>
                                                            </select>
                                                        </div>
                                                        <div style="float: left;height:30px;padding-left: 10px;vertical-align: bottom">
                                                            <label style="line-height: 30px"> 登记员： </label>
                                                            <label style="line-height: 30px"> 张三 </label>
                                                        </div>
                                                    </div>
                                                </div>
                                </div>
                                <!-- /span -->
                            </div>
                            <div class="row" style="float: right;padding-right: 12px">
                                        <button class="btn btn-success" style="border: 0;width: 120px;">
                                            <i class="icon-credit-card"></i>
                                            刷卡查单
                                        </button>
                                        <button class="btn btn-success" style="border: 0;width: 120px;">
                                            <i class="icon-save"></i>
                                            保存写卡
                                        </button>
                                        <button class="btn btn-success" style="border: 0;width: 120px;">
                                            <i class="icon-save"></i>
                                            保存
                                        </button>
                                        <button class="btn btn-success" style="border: 0;width: 120px;padding-left:10px">
                                            <i class="icon-plus-sign"></i>
                                            新增
                                        </button>
                                        <button class="btn btn-success" style="border: 0;width: 120px;padding-left:10px">
                                            <i class="icon-undo"></i>
                                            取消
                                        </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container-inner -->

</div>
<!-- /.main-container -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script type="text/javascript">
    if(parent.$("script[src='/assets/js/bootstrap.min.js']").length == 0){
        document.write("<script src='/assets/js/bootstrap.min.js'>"+"<"+"/script>");
    }
</script>
<script th:src="@{/assets/js/typeahead-bs2.min.js}"></script>
<script th:src="@{/assets/js/excanvas.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui-1.10.3.custom.min.js}"></script>
<script th:src="@{/assets/js/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/assets/js/chosen.jquery.min.js}"></script>
<script th:src="@{/assets/js/fuelux/fuelux.spinner.min.js}"></script>
<script th:src="@{/assets/js/date-time/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/assets/js/date-time/bootstrap-timepicker.min.js}"></script>
<script th:src="@{/assets/js/date-time/moment.min.js}"></script>
<script th:src="@{/assets/js/date-time/daterangepicker.min.js}"></script>
<script th:src="@{/assets/js/bootstrap-colorpicker.min.js}"></script>
<script th:src="@{/assets/js/jquery.knob.min.js}"></script>
<script th:src="@{/assets/js/jquery.autosize.min.js}"></script>
<script th:src="@{/assets/js/jquery.inputlimiter.1.3.1.min.js}"></script>
<script th:src="@{/assets/js/jquery.maskedinput.min.js}"></script>
<script th:src="@{/assets/js/bootstrap-tag.min.js}"></script>
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>
<script th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
<script th:src="@{/assets/js/jquery.easy-pie-chart.min.js}"></script>
<script th:src="@{/assets/js/jquery.sparkline.min.js}"></script>
<script th:src="@{/assets/js/flot/jquery.flot.min.js}"></script>
<script th:src="@{/assets/js/flot/jquery.flot.pie.min.js}"></script>
<script th:src="@{/assets/js/flot/jquery.flot.resize.min.js}"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(".form-group").css({"margin-bottom": "5px"});
        $(".sidebar").load("/sidebar");
        $('#id-disable-check').on('click', function() {
            var inp = $('#form-input-readonly').get(0);
            if(inp.hasAttribute('disabled')) {
                inp.setAttribute('readonly' , 'true');
                inp.removeAttribute('disabled');
                inp.value="This text field is readonly!";
            }
            else {
                inp.setAttribute('disabled' , 'disabled');
                inp.removeAttribute('readonly');
                inp.value="This text field is disabled!";
            }
        });

        $(".chosen-select").chosen();
        $('#chosen-multiple-style').on('click', function(e){
            var target = $(e.target).find('input[type=radio]');
            var which = parseInt(target.val());
            if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
            else $('#form-field-select-4').removeClass('tag-input-style');
        });
    });
</script>
<script>
    $(document).ready(function(){
        var window_width_px=$('.main-container').css('width');
        var window_width=window_width_px.substr(0,window_width_px.length-2);
        var sidebar_width=$('#sidebar').width();
        $("#main-content").css({"width":window_width-60,"float":"left"});
    });
</script>
</body>
</html>